name: E2E Tests Playwright
on:
  pull_request:
    branches: [master]
    paths-ignore:
      - 'apps/web/**'
  workflow_dispatch:
    inputs:
      sha:
        type: string
        required: false
        description: Target SHA

jobs:
  test:
    name: e2e-playwright
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      DESKTOP_PORT: 3000
      BUTLER_PORT: 6978
      VITE_E2E: 'true'
      VITE_BUTLER_PORT: 6978
      VITE_BUTLER_HOST: 'localhost'
      VITE_BUILD_TARGET: 'web'
      BUT_TESTING: ${{ github.workspace}}/target/debug/but-testing
      GIT_CONFIG_GLOBAL: ${{ github.workspace }}/e2e/playwright/fixtures/.gitconfig
    steps:
      - uses: actions/checkout@v5
        if: ${{ github.event_name != 'workflow_dispatch' }}
      - uses: actions/checkout@v5
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          ref: ${{ github.event.inputs.sha }}
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.8.0
        with:
          shared-key: unix-rust-testing-v2
      - run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            cmake
      - name: Setup rust-toolchain stable
        id: rust-toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-${{ steps.rust-toolchain.outputs.cachekey }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-
      - name: Setup node environment
        uses: ./.github/actions/init-env-node
      - id: get_playwright_version
        uses: eviden-actions/get-playwright-version@v1
      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.get_playwright_version.outputs.playwright-version }}
      - if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: cd e2e && pnpm exec playwright install --with-deps
      - name: Build but-server
        run: cargo build -p but-server
      - name: Build but-testing
        run: cargo build -p but-testing
      - name: Build SvelteKit
        run: pnpm build:desktop
      - name: Run Playwright tests
        run: pnpm exec turbo run test:e2e:playwright
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: |
            ${{ github.workspace }}/e2e/playwright-report/
            ${{ github.workspace }}/e2e/test-results/
          retention-days: 30
