.tooltip {
	pointer-events: none;
	background-color: var(--clr-core-ntrl-10);
	border-radius: var(--radius-s);
	border: 1px solid var(--clr-core-ntrl-30);
	color: var(--clr-core-ntrl-60);
	display: inline-block;
	padding: var(--size-6);
	z-index: 50;

	max-width: 11.25rem;
	position: absolute;
	left: -9999px;
	top: -9999px;
}
