version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
      - dependency-name: '*lexical*'
        # Lexical must match svelte-lexical, updating manually.
        update-types: ['version-update:semver-minor']
    groups:
      npm-updates:
        update-types: [minor, patch]

  - package-ecosystem: 'cargo'
    directory: '/'
    schedule:
      interval: 'monthly'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
      - dependency-name: 'libsqlite3-sys'
    groups:
      rust-updates:
        update-types: [minor, patch]

  - package-ecosystem: 'rust-toolchain'
    directory: '/'
    schedule:
      interval: 'monthly'
