[workspace]
members = [
    "crates/gitbutler-core",
    "crates/gitbutler-tauri",
    "crates/gitbutler-git",
    "crates/gitbutler-watcher",
    "crates/gitbutler-watcher/vendor/debouncer",
    "crates/gitbutler-testsupport",
    "crates/gitbutler-cli",
]
resolver = "2"

[workspace.dependencies]
gix = { version = "0.63.0", default-features = false, features = [] } # add performance features here as needed
git2 = { version = "0.18.3", features = ["vendored-openssl", "vendored-libgit2"] }
uuid = { version = "1.8.0", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.61"
tokio = { version = "1.38.0", default-features = false }

gitbutler-git = { path = "crates/gitbutler-git" }
gitbutler-core = { path = "crates/gitbutler-core" }
gitbutler-watcher = { path = "crates/gitbutler-watcher" }
gitbutler-testsupport = { path = "crates/gitbutler-testsupport" }
gitbutler-cli ={ path = "crates/gitbutler-cli" }

[profile.release]
codegen-units = 1 # Compile crates one after another so the compiler can optimize better
lto = true        # Enables link to optimizations
opt-level = "s"   # Optimize for binary size
debug = true      # Enable debug symbols, for profiling
