[workspace]
members = [
    "crates/gitbutler-tauri",
    "crates/gitbutler-git",
    "crates/gitbutler-watcher",
    "crates/gitbutler-watcher/vendor/debouncer",
    "crates/gitbutler-testsupport",
    "crates/gitbutler-cli",
    "crates/gitbutler-virtual",
    "crates/gitbutler-sync",
    "crates/gitbutler-oplog",
    "crates/gitbutler-branchstate",
    "crates/gitbutler-repo",
    "crates/gitbutler-command-context",
    "crates/gitbutler-feedback",
    "crates/gitbutler-config",
    "crates/gitbutler-project",
    "crates/gitbutler-user",
    "crates/gitbutler-branch",
    "crates/gitbutler-reference",
    "crates/gitbutler-error",
    "crates/gitbutler-serde",
    "crates/gitbutler-secret",
    "crates/gitbutler-id",
    "crates/gitbutler-storage",
    "crates/gitbutler-fs",
    "crates/gitbutler-time",
    "crates/gitbutler-commit",
    "crates/gitbutler-tagged-string",
    "crates/gitbutler-url",
]
resolver = "2"

[workspace.dependencies]
# Add the `tracing` or `tracing-detail` features to see more of gitoxide in the logs. Useful to see which programs it invokes.
gix = { git = "https://github.com/Byron/gitoxide", rev = "55cbc1b9d6f210298a86502a7f20f9736c7e963e", default-features = false, features = [
] }
git2 = { version = "0.18.3", features = [
    "vendored-openssl",
    "vendored-libgit2",
] }
uuid = { version = "1.8.0", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.61"
tokio = { version = "1.38.0", default-features = false }
keyring = "2.3.3"
anyhow = "1.0.86"

gitbutler-id = { path = "crates/gitbutler-id" }
gitbutler-git = { path = "crates/gitbutler-git" }
gitbutler-watcher = { path = "crates/gitbutler-watcher" }
gitbutler-testsupport = { path = "crates/gitbutler-testsupport" }
gitbutler-cli = { path = "crates/gitbutler-cli" }
gitbutler-virtual = { path = "crates/gitbutler-virtual" }
gitbutler-sync = { path = "crates/gitbutler-sync" }
gitbutler-oplog = { path = "crates/gitbutler-oplog" }
gitbutler-branchstate = { path = "crates/gitbutler-branchstate" }
gitbutler-repo = { path = "crates/gitbutler-repo" }
gitbutler-command-context = { path = "crates/gitbutler-command-context" }
gitbutler-feedback = { path = "crates/gitbutler-feedback" }
gitbutler-config = { path = "crates/gitbutler-config" }
gitbutler-project = { path = "crates/gitbutler-project" }
gitbutler-user = { path = "crates/gitbutler-user" }
gitbutler-branch = { path = "crates/gitbutler-branch" }
gitbutler-reference = { path = "crates/gitbutler-reference" }
gitbutler-error = { path = "crates/gitbutler-error" }
gitbutler-serde = { path = "crates/gitbutler-serde" }
gitbutler-secret = { path = "crates/gitbutler-secret" }
gitbutler-storage = { path = "crates/gitbutler-storage" }
gitbutler-fs = { path = "crates/gitbutler-fs" }
gitbutler-time = { path = "crates/gitbutler-time" }
gitbutler-commit = { path = "crates/gitbutler-commit" }
gitbutler-tagged-string = { path = "crates/gitbutler-tagged-string" }
gitbutler-url = { path = "crates/gitbutler-url" }

[profile.release]
codegen-units = 1 # Compile crates one after another so the compiler can optimize better
lto = true        # Enables link to optimizations
opt-level = "s"   # Optimize for binary size
debug = true      # Enable debug symbols, for profiling
