/all-file-types-changed.tar
/submodule-typechanges.tar
/delete-all-file-types.tar
/two-commits-with-line-offset.tar
/all-file-types-changed.tar
/merge-with-two-branches-line-offset-two-files.tar
/merge-with-two-branches-line-offset.tar
/unborn-with-submodules.tar
/unborn-untracked-crlf.tar
/unborn-untracked-all-file-types.tar
/unborn-untracked.tar
/all-file-types-renamed-and-modified.tar
/merge-with-two-branches-auto-resolved-merge.tar
/two-commits-three-buckets.tar
/one-commit-detached.tar
/single-branch-10-commits.tar
/single-branch-10-commits-multi-segment.tar
/delete-all-file-types-valid-submodule.tar
/modified-submodule-and-embedded-repo.tar
/replace-dir-with-submodule-with-file.tar
/all-file-types-renamed-and-overwriting-existing.tar
/move-directory-into-sibling-file.tar
/merge-with-two-branches-conflict.tar
/deletion-addition-untracked.tar
/mixed-hunk-modifications.tar
/plain-modifications.tar