.group {
	display: inline-flex;
	flex-shrink: 0;
}

.group > :where(*:not(:first-child)) {
	border-left: 1px solid var(--button-group-divider-color, transparent);
	border-start-start-radius: 0;
	border-end-start-radius: 0;
}

.group > :where(*:not(:last-child)) {
	border-right: 1px solid transparent;
	border-start-end-radius: 0;
	border-end-end-radius: 0;
}
