.graphSegment {
	--width: 16px;
	display: flex;
	flex-direction: column;
	width: var(--width);
	height: 100%;

	&[data-stretch="false"] {
		justify-content: center;
		height: fit-content;
	}

	&[data-stretch="true"] {
		align-self: stretch;
	}
}

.graphSegmentSvg {
	flex-shrink: 0;
	width: var(--width);
	height: 28px;
}

.stretchSegment {
	flex-grow: 1;
	width: var(--width);
	height: 100%;
}
