.group {
	display: inline-flex;
	flex-shrink: 0;
	padding: 2px;
	gap: 2px;
	border-radius: var(--radius-m);
	background-color: var(--bg-2);

	&[data-orientation="vertical"] {
		flex-direction: column;
		align-items: stretch;
	}
}

.item {
	display: inline-flex;
	position: relative;
	column-gap: 6px;
	align-items: center;
	height: 24px;
	padding-inline: 7px;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: transparent;
	color: color-mix(in srgb, var(--text-1) 60%, transparent);
	line-height: 1;
	white-space: nowrap;
	--icon-size: 14px;
	transition:
		border-color 0.08s ease,
		box-shadow 0.08s ease,
		color 0.08s ease;

	&::before {
		position: absolute;
		inset: 0;
		transform: scale(0.85);
		border-radius: inherit;
		background-color: color-mix(in srgb, var(--fill-gray-bg) 7%, transparent);
		content: "";
		opacity: 0;
		pointer-events: none;
		transition:
			opacity 0.12s ease,
			transform 0.12s ease;
	}

	&:not([data-pressed]):hover::before {
		transform: scale(1);
		opacity: 1;
	}

	&[data-pressed] {
		background-color: var(--bg-1);
		box-shadow: 0 0 0 1px var(--border-2);
		color: var(--text-1);
	}

	& [data-icon] {
		color: var(--text-3);
	}

	&:hover [data-icon] {
		color: var(--text-2);
	}

	&[data-pressed] [data-icon] {
		color: var(--text-2);
	}
}
