.tooltip {
	display: flex;
	padding: 6px 8px;
	gap: 8px;
	border: 1px solid var(--border-3);
	border-radius: var(--radius-m);
	background-color: var(--bg-1);
	box-shadow: var(--shadow-s);
	color: var(--text-1);
}
