.button {
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	border: var(--button-border);
	border-radius: 8px;

	&:not(:disabled) {
		cursor: pointer;

		&:hover {
			background-color: var(--button-ghost-hover-bg);
		}
	}

	&:disabled {
		opacity: 0.5;
	}
}

.popup {
	border-radius: 8px;
	outline: 1px solid light-dark(rgb(0 0 0 / 0.2), rgb(255 255 255 / 0.16));
	background-color: var(--bg-1);
	box-shadow: 0 12px 16px -8px light-dark(rgb(0 0 0 / 0.08), rgb(0 0 0 / 0.4));
}

.dialogPopup {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	row-gap: 12px;
	flex-direction: column;
	padding: 16px;
	transform: translate(-50%, -50%);
}

.tooltip {
	padding: 8px;
}
