.tooltip {
	display: flex;
	align-items: center;
	padding: 6px 8px;
	gap: 8px;
	border-radius: var(--radius-m);
	outline: 1px solid color-mix(var(--scale-gray-0) 10%, transparent);
	background-color: var(--bg-1);
	box-shadow: var(--shadow-s);
	color: var(--text-1);
}
