[package]
name = "but-error"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
publish = false
rust-version.workspace = true

[lib]
doctest = true

[dependencies]
anyhow.workspace = true
