[package]
name = "gitbutler-branch-actions"
version = "0.0.0"
edition = "2021"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false

[dependencies]
tracing.workspace = true
anyhow = "1.0.95"
git2.workspace = true
gix = { workspace = true, features = ["blob-diff", "revision", "merge"] }
tokio.workspace = true
gitbutler-oplog.workspace = true
gitbutler-repo.workspace = true
gitbutler-repo-actions.workspace = true
gitbutler-branch.workspace = true
gitbutler-reference.workspace = true
gitbutler-error.workspace = true
gitbutler-serde.workspace = true
gitbutler-id.workspace = true
gitbutler-time.workspace = true
but-settings.workspace = true
gitbutler-commit.workspace = true
gitbutler-url.workspace = true
gitbutler-fs.workspace = true
gitbutler-diff.workspace = true
gitbutler-operating-modes.workspace = true
gitbutler-cherry-pick.workspace = true
gitbutler-oxidize.workspace = true
gitbutler-stack.workspace = true
gitbutler-hunk-dependency.workspace = true
gitbutler-workspace.workspace = true
but-workspace.workspace = true
but-rebase.workspace = true
but-core.workspace = true
serde = { workspace = true, features = ["std"] }
serde-error = "0.1.3"
bstr.workspace = true
git2-hooks = "0.4"
url = { version = "2.5.4", features = ["serde"] }
md5 = "0.7.0"
itertools = "0.14"
gitbutler-command-context.workspace = true
gitbutler-project.workspace = true
toml.workspace = true

[dev-dependencies]
pretty_assertions = "1.4"
gitbutler-testsupport.workspace = true
gitbutler-workspace.workspace = true
gix = { workspace = true, features = [] }
glob = "0.3.2"
tempfile.workspace = true
