[package]
name = "gitbutler-branch-actions"
version = "0.0.0"
edition = "2021"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false
rust-version = "1.89"
[dependencies]
tracing.workspace = true
anyhow = "1.0.100"
git2.workspace = true
gix = { workspace = true, features = ["blob-diff", "revision", "merge"] }
tokio.workspace = true
uuid = { workspace = true }
gitbutler-oplog.workspace = true
gitbutler-repo.workspace = true
gitbutler-repo-actions.workspace = true
gitbutler-branch.workspace = true
gitbutler-reference.workspace = true
gitbutler-error.workspace = true
gitbutler-serde.workspace = true
gitbutler-id.workspace = true
gitbutler-time.workspace = true
but-settings.workspace = true
but-gerrit.workspace = true
gitbutler-commit.workspace = true
gitbutler-url.workspace = true
gitbutler-fs.workspace = true
gitbutler-diff.workspace = true
gitbutler-operating-modes.workspace = true
gitbutler-cherry-pick.workspace = true
gitbutler-oxidize.workspace = true
gitbutler-stack.workspace = true
gitbutler-hunk-dependency.workspace = true
gitbutler-workspace.workspace = true
gitbutler-forge.workspace = true
but-workspace.workspace = true
but-rebase.workspace = true
but-core.workspace = true
but-graph.workspace = true
serde = { workspace = true, features = ["std"] }
serde-error = "0.1.3"
bstr.workspace = true
git2-hooks.workspace = true
url = { version = "2.5.4", features = ["serde"] }
md5 = "0.8.0"
itertools = "0.14"
gitbutler-command-context.workspace = true
gitbutler-project.workspace = true
toml.workspace = true

[dev-dependencies]
pretty_assertions = "1.4"
but-graph.workspace = true
gitbutler-testsupport.workspace = true
gitbutler-workspace.workspace = true
gix = { workspace = true, features = [] }
glob = "0.3.3"
tempfile.workspace = true
but-hunk-assignment.workspace = true
gitbutler-git = { workspace = true, features = [
    "test-askpass-path",
] } # Runtime test dependency
