[package]
name = "but-path"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
publish = false
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
anyhow.workspace = true
dirs = "6.0.0"
open.workspace = true