@font-face {
	font-family: 'PP Editorial New';
	src: url('fonts/pp-editorial/PPEditorialNew-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Geist Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/geist-mono/GeistMono-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Geist Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/geist-mono/GeistMono-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Geist Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/geist-mono/GeistMono-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/inter/Inter-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/inter/Inter-Italic.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/inter/Inter-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/inter/Inter-MediumItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/inter/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/inter/Inter-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/inter/Inter-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/inter/Inter-BoldItalic.woff2') format('woff2');
}
