@import './fonts.css';

body {
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;

	color: var(--clr-text-1);
	background-color: var(--clr-bg-2);
	user-select: none;
}

.link {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

/**
 * Prevents elements within drop-zones from firing mouse events, making
 * it much easier to manage in/out/over/leave events since they fire less
 * frequently.
 */
.drop-zone-hover * {
	pointer-events: none;
}

/* FOCUS STATE */
.focus-state {
	&:focus-within {
		outline: 1px solid transaparent;
		animation: focus-animation var(--transition-fast) forwards;
	}
}

@keyframes focus-animation {
	0% {
		outline-offset: 0;
	}
	100% {
		outline-offset: 2px;
		outline: 1px solid var(--focus-color);
	}
}

/* CODE */
.code-string {
	color: var(--clr-text-1);
	font-family: var(--fontfamily-mono);
	border-radius: var(--radius-s);
	background: var(--clr-scale-ntrl-80);
	padding: 1px 4px;
}

/* TRANSITION ANIMATION */

.transition-fly {
	animation: transition-fly 0.25s forwards ease-in-out;
}

@keyframes transition-fly {
	0% {
		transform: translateY(6px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* STATES */

.series-highlight-animation {
	/* border: 1px solid red; */
	animation: series-highlight-animation 0.9s forwards;

	/* animation-delay: 0.1s; */
	backface-visibility: hidden;
}

@keyframes series-highlight-animation {
	0% {
	}
	40%,
	65% {
		box-shadow: 0 2px 7px 0 oklch(from var(--highlight-color) l c h / 0.4);
		border: 1px solid var(--highlight-color);
		transform: scale(1.015);
	}
	100% {
	}
}

.locked-file-animation {
	--locked-color: oklch(from var(--clr-scale-warn-50) l c h / 0.2);
	border: 1px solid var(--clr-bg-1);
	animation: locked-file-animation 1.4s ease-out forwards;
}

@keyframes locked-file-animation {
	0% {
		transform: translateX(-3px);
		background-color: var(--clr-bg-1);
	}
	10% {
		transform: translateX(3px);
		background-color: var(--locked-color);
	}
	15% {
		transform: translateX(-3px);
	}
	25% {
		transform: translateX(3px);
		background-color: var(--locked-color);
	}
	30%,
	70% {
		transform: translateX(0);
	}
	100% {
		background-color: var(--clr-bg-1);
	}
}
