.tooltip {
	pointer-events: none;
	background-color: var(--clr-core-ntrl-10);
	border-radius: var(--radius-s);
	border: 1px solid var(--clr-core-ntrl-30);
	color: var(--clr-core-ntrl-60);
	display: inline-block;
	padding: 6px 8px;
	z-index: var(--z-tooltip);

	max-width: 180px;
	position: absolute;
	left: -9999px;
	top: -9999px;

	opacity: 0;
	animation: showup-tooltip-animation 0.1s ease-out forwards;

	&.no-max-width {
		max-width: unset;
	}
}

@keyframes showup-tooltip-animation {
	from {
		opacity: 0;
		transform: translateY(-0.2rem) scale(0.9);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
