/* CSS VARIABLES */
:root {
	--transition-fast: 0.05s ease-in-out;
	--transition-medium: 0.15s ease-in-out;
	--transition-slow: 0.2s ease-in-out;

	/* Z-index */
	--z-ground: 1;
	--z-lifted: 2;
	--z-floating: 3;
	--z-modal: 4;
	--z-blocker: calc(infinity);

	/* TODO: add focus color */
	--focus-color: var(--clr-scale-pop-50);
	--resizer-color: var(--clr-scale-pop-50);
}
