.branchesListLane {
	flex-shrink: 0;
	width: 350px;
}

.branchDetailsLane {
	flex-shrink: 0;
	width: 350px;
}

.branchButton {
	flex-grow: 1;
	padding-inline: var(--item-inline-padding);
	padding-block: var(--item-block-padding);
	line-height: var(--item-line-height);
}

.branchApplyDefaultIcon {
	.branchApplyButton:hover &,
	.branchApplyButton:focus-visible & {
		display: none;
	}
}

.branchApplyHoverIcon {
	display: none;

	.branchApplyButton:hover &,
	.branchApplyButton:focus-visible & {
		display: block;
	}
}
