.branchesListLane {
	flex-shrink: 0;
	width: 350px;
}

.branchDetailsLane {
	flex-shrink: 0;
	width: 350px;
}

.branchButton {
	flex-grow: 1;
	padding-inline: var(--item-inline-padding);
	padding-block: var(--item-block-padding);
	line-height: var(--item-line-height);
}

.branchApplyButtonInactive {
	opacity: 0.35;

	&:hover,
	&:focus-visible {
		opacity: 1;
	}
}
