[package]
name = "but-secret"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
publish = false
rust-version.workspace = true
autotests = false

[lib]
doctest = false

[dependencies]
but-error.workspace = true

anyhow.workspace = true
tracing.workspace = true
serde.workspace = true
gix = { workspace = true, features = ["dirwalk", "credentials", "parallel"] }
keyring.workspace = true

[[test]]
name="secret"
path = "tests/mod.rs"

[dev-dependencies]
