.DS_Store
node_modules
butler/target
build
dist
.svelte-kit
package
.env
.env.*
!.env.example
crates/
flake*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json

# Ignore  minified css
*.min.css
e2e/playwright/fixtures