[package]
name = "but-api-macros"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
publish = false
rust-version.workspace = true

[lib]
proc-macro = true
doctest = false

[dependencies]
syn = "2"
quote = "1"
convert_case = "0.10.0"
