[package]
name = "but-status"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
publish = false
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
gix.workspace = true
anyhow.workspace = true
bstr.workspace = true
