.lanes {
	display: flex;
	column-gap: 8px;
	flex-grow: 1;
}

.pageWithPreview {
	flex-grow: 1;
}

.primaryPane {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: var(--pane-padding);
}

.previewPane {
	padding: var(--pane-padding);
}

.previewDialogPopup {
	position: fixed;
	inset: 0;
	padding: var(--pane-padding);
	overflow: auto;
	background-color: white;
}

.previewResizeHandle {
	width: 1px;
	background-color: black;
}

.laneDiffColumn {
	width: 500px;
}

.commitRow {
	display: flex;
	align-items: start;
}

.row {
}

.rowAction {
	display: grid;
	visibility: hidden;
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);

	svg {
		width: var(--row-line-height);
		height: var(--row-line-height);
	}

	.row:hover &,
	.row:focus-within &,
	.row:has(.rowAction[aria-expanded="true"]) &,
	.row.selected & {
		visibility: visible;
	}
}

.commitDetails {
	padding-left: 8px;
}

.commitMessageBody {
	white-space: pre-wrap;
}

.commitButton {
	flex-grow: 1;
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	line-height: var(--row-line-height);
}

.fileRow {
	display: flex;
	align-items: start;
}

.fileButton {
	flex-grow: 1;
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	overflow: hidden;
	line-height: var(--row-line-height);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.selected {
	background-color: black;
	color: white;
}

.selectedFile {
	background-color: lightgray;
}

.highlighted {
	background-color: burlywood;
	color: black;
}

.hunkHeaderRow {
	display: flex;
	column-gap: 4px;
	align-items: center;
}

.hunkHeader {
	flex-grow: 1;
	font-family: monospace;
	cursor: grab;
}

.dragPreview {
	padding: 4px 8px;
	border: 1px solid;
	background-color: white;
}

.menuPopup {
	border: 1px solid;
	background-color: white;
}

.menuItem {
	padding: 4px;
	border: 1px solid;
	cursor: default;

	&[data-disabled] {
		opacity: 0.5;
	}
}
