node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

build
.svelte-kit
package
!.env.example
vite.config.ts.timestamp-*

# Written to disk when using `act`
.pnpm-store

# playwright
test-results*
playwright-report