@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: #f5f5f3;
  --clr-bg: var(--off-white);
  /* gray */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-dark-gray: #707070;
  --clr-gray: #d0cfcb;
  --clr-light-gray: #f1f1ed;
  /* accent */
  --clr-accent: #97eae5;
}

/* change selection */
::selection {
  background-color: var(--clr-accent);
  color: var(--clr-black);
}

body {
  /* optimise font rendering */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &::-webkit-scrollbar {
    width: 8px;
    /* Mostly for vertical scrollbars */
    height: 8px;
    /* Mostly for horizontal scrollbars */
  }

  &::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--clr-accent) 96%, var(--clr-black));
  }
}

/* Links in article */
article a:not(h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a) {
  /* color: var(--clr-accent) !important; */
  /* text-decoration-color: var(--clr-accent) !important; */
}

main div:last-of-type a {
  /* color: var(--clr-accent) !important; */
}

/* Prev / Next Cards at bottom of every page */
article div:last-of-type:is(.grid.grid-cols-2) * {
  @apply !font-ppeditorial text-base;
}

/* Main Body */
/* article p, */
/* article div, */
/* article span { */
/*   @apply font-spline font-light; */
/* } */

/* All Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply !font-ppeditorial;
}

/* Main Sidebar */
aside a,
aside button {
  @apply !font-ppeditorial tracking-wide text-sm;
}

iframe[src*="youtube"] {
  aspect-ratio: 16 / 9;
  @apply mx-auto;
}
