:root {
	--fontfamily-mono: var(--text-fontfamily-mono), monospace;
	--fontfamily-default: var(--text-fontfamily-default), sans-serif;
	--fontfamily-accent: var(--text-fontfamily-accent), serif;
}

/* text Base Classes */
.text-9 {
	font-weight: var(--text-weight-regular);
	font-size: 0.563rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-10 {
	font-weight: var(--text-weight-regular);
	font-size: 0.625rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-11 {
	font-weight: var(--text-weight-regular);
	font-size: 0.6875rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-12 {
	font-weight: var(--text-weight-regular);
	font-size: 0.75rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-13 {
	font-weight: var(--text-weight-regular);
	font-size: 0.8125rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-14 {
	font-weight: var(--text-weight-regular);
	font-size: 0.875rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-15 {
	font-weight: var(--text-weight-regular);
	font-size: 0.938rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-16 {
	font-weight: var(--text-weight-regular);
	font-size: 1rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-18 {
	font-weight: var(--text-weight-regular);
	font-size: 1.125rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

/* text Head Classes */
.text-head-20 {
	font-weight: var(--text-weight-bold);
	font-size: 1.25rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-head-22 {
	font-weight: var(--text-weight-bold);
	font-size: 1.375rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

.text-head-24 {
	font-weight: var(--text-weight-bold);
	font-size: 1.5rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-default);
}

/* Serif Classes */
.text-serif-40 {
	font-weight: 400;
	font-size: 2.5rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-accent);
}

.text-serif-32 {
	font-weight: 400;
	font-size: 2rem;
	line-height: var(--text-lineheight-default);
	font-family: var(--fontfamily-accent);
}

/* MODIFIERS */

.text-body {
	line-height: var(--text-lineheight-body);
}

.text-semibold {
	font-weight: var(--text-weight-semibold);
}

.text-bold {
	font-weight: var(--text-weight-bold);
}

.text-monospace {
	font-family: var(--fontfamily-mono);
}

.text-balance {
	text-wrap: balance;
}

.text-pre {
	white-space: pre-wrap;
	word-break: break-word;
}

.text-italic {
	font-style: italic;
}
