:root {
	--mono-font-family: 'Geist Mono', monospace;
	--base-font-family: 'Inter', sans-serif;
	--serif-font-family: 'PP Editorial New', serif;
	--base-font-weight: 400;
	--semidold-font-weight: 500;
	--bold-font-weight: 600;
	--base-line-height: 120%;
	--body-line-height: 150%;
}

/* text Base Classes */
.text-9 {
	font-family: var(--base-font-family);
	font-size: 0.563rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-10 {
	font-family: var(--base-font-family);
	font-size: 0.625rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-11 {
	font-family: var(--base-font-family);
	font-size: 0.6875rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-12 {
	font-family: var(--base-font-family);
	font-size: 0.75rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-13 {
	font-family: var(--base-font-family);
	font-size: 0.8125rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-14 {
	font-family: var(--base-font-family);
	font-size: 0.875rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-15 {
	font-family: var(--base-font-family);
	font-size: 0.938rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-16 {
	font-family: var(--base-font-family);
	font-size: 1rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

.text-18 {
	font-family: var(--base-font-family);
	font-size: 1.125rem;
	font-weight: var(--base-font-weight);
	line-height: var(--base-line-height);
}

/* text Head Classes */
.text-head-20 {
	font-family: var(--base-font-family);
	font-size: 1.25rem;
	font-weight: var(--bold-font-weight);
	line-height: var(--base-line-height);
}

.text-head-22 {
	font-family: var(--base-font-family);
	font-size: 1.375rem;
	font-weight: var(--bold-font-weight);
	line-height: var(--base-line-height);
}

.text-head-24 {
	font-family: var(--base-font-family);
	font-size: 1.5rem;
	font-weight: var(--bold-font-weight);
	line-height: var(--base-line-height);
}

/* Serif Classes */
.text-serif-40 {
	font-family: var(--serif-font-family);
	font-size: 2.5rem;
	line-height: var(--base-line-height);
	font-weight: 400;
}

.text-serif-32 {
	font-family: var(--serif-font-family);
	font-size: 2rem;
	line-height: var(--base-line-height);
	font-weight: 400;
}

/* MODIFIERS */

.text-body {
	line-height: var(--body-line-height);
}

.text-light {
	font-weight: var(--light-font-weight);
}

.text-semibold {
	font-weight: var(--semidold-font-weight);
}

.text-bold {
	font-weight: var(--bold-font-weight);
}
