/* Border radius */
.radius-s {
	border-radius: var(--radius-s);
}
.radius-m {
	border-radius: var(--radius-m);
}
.radius-ml {
	border-radius: var(--radius-ml);
}
.radius-l {
	border-radius: var(--radius-l);
}

/* Background colors */
.clr-bg-1 {
	background-color: var(--clr-bg-1);
}
.clr-bg-1-muted {
	background-color: var(--clr-bg-1-muted);
}
.clr-bg-2 {
	background-color: var(--clr-bg-2);
}
.clr-bg-2-muted {
	background-color: var(--clr-bg-2-muted);
}
.clr-bg-3 {
	background-color: var(--clr-bg-3);
}
.clr-bg-3-muted {
	background-color: var(--clr-bg-3-muted);
}

/* Borders */
.clr-border-1 {
	border: 1px solid var(--clr-border-1);
}
.clr-border-2 {
	border: 1px solid var(--clr-border-2);
}
.clr-border-3 {
	border: 1px solid var(--clr-border-3);
}

/* Text colors */
.clr-text-1 {
	color: var(--clr-text-1);
}
.clr-text-2 {
	color: var(--clr-text-2);
}
.clr-text-3 {
	color: var(--clr-text-3);
}
