/* scrollbar helpers */
.hide-native-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

/* custom scrollbar */
.scrollbar,
pre {
	&::-webkit-scrollbar {
		width: 14px;
		background-color: transaparent;
	}

	&::-webkit-scrollbar-track {
		background-color: transaparent;
	}

	&::-webkit-scrollbar-thumb {
		border: 4px solid rgba(0, 0, 0, 0);
		border-radius: 12px;
		background-clip: padding-box;
		background-color: var(--clr-border-1);
		opacity: 0.3;
	}

	&::-webkit-scrollbar-thumb:hover {
		opacity: 0.8;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

.stack-v {
	display: flex;
	flex-direction: column;
}

.stack-h {
	display: flex;
	flex-direction: row;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.no-select {
	cursor: default;
	user-select: none;
}

.hide-when-empty {
	&:empty {
		display: none;
	}
}

.no-pointer-events {
	pointer-events: none;
}

.pointer-events {
	pointer-events: auto;
}

.underline {
	text-decoration: underline;
}

.underline-dotted {
	text-decoration: underline dotted;
}

/* ANIMATION */

.wiggle-animation {
	animation: wiggle-animation 0.35s forwards;
}

@keyframes wiggle-animation {
	0% {
		transform: translateX(-3px);
	}
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

/* ACCESSIBILITY */
.focus-state {
	outline: none;

	&:focus-visible {
		outline: 2px solid var(--focus-color);
	}
}
