[package]
name = "gitbutler-url"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
publish = false
rust-version.workspace = true

[lib]
doctest = false

[dependencies]
url = { version = "2.5.4", features = ["serde"] }
thiserror.workspace = true
bstr.workspace = true
