.commit-line {
	position: relative;
	width: 100%;
	height: 100%;

	--border-style: solid;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 2px;
		height: 100%;
	}

	&.stacked:before {
		background: var(--commit-color);
	}

	&.dashed {
		--border-style: none;

		&:before {
			height: calc(100% + 1px);
			background: linear-gradient(to bottom, var(--commit-color) 50%, transparent 50%);
			background-size: 4px 4px;
		}
	}
}
