.commit-line {
	position: relative;
	width: 100%;
	height: 100%;

	--border-color: var(--clr-commit-shadow);
	--border-style: solid;

	&.none {
		--border-color: transparent;
	}

	&.remote {
		--border-color: var(--clr-commit-upstream);
	}

	&.local {
		--border-color: var(--clr-commit-local);
	}

	&.local-and-remote {
		--border-color: var(--clr-commit-remote);
	}

	&.shadow {
		--border-color: var(--clr-commit-shadow);
	}

	&.integrated {
		--border-color: var(--clr-commit-shadow);
	}

	&.dashed {
		--border-style: none;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 2px;
			height: calc(100% + 1px);
			background: repeating-linear-gradient(
				0,
				transparent,
				transparent 2px,
				var(--border-color) 2px,
				var(--border-color) 4px
			);
		}
	}
}
