.inner-diff {
	border-radius: 2px;
}

.diff-line-marker-addition,
.diff-line-addition {
	background-color: var(--clr-diff-addition-line-bg);
}

.diff-line-marker-deletion,
.diff-line-deletion {
	background-color: var(--clr-diff-deletion-line-bg);
}

.diff-line-addition .inner-diff {
	background-color: var(--clr-diff-addition-line-highlight);
}

.diff-line-deletion .inner-diff {
	background-color: var(--clr-diff-deletion-line-highlight);
}
