:root {
	--hunk-line-selected-bg: #60a5fa;
	--hunk-line-selected-border: #2563eb;

	--override-addition-background-color: #ecfaf3;
	--override-addition-inner-diff-background-color: #c5f0dc;

	--override-deletion-background-color: #fff0f2;
	--override-deletion-inner-diff-background-color: #fdd2da;
}

:root.dark {
	--hunk-line-selected-bg: #044289;
	--hunk-line-selected-border: #005cc5;

	--override-addition-background-color: #0e2f25;
	--override-addition-inner-diff-background-color: #075445;

	--override-deletion-background-color: #3c131b;
	--override-deletion-inner-diff-background-color: #78061c;
}

.inner-diff {
	border-radius: 2px;
}

.diff-line-marker-addition,
.diff-line-addition {
	background-color: var(--override-addition-background-color);
}

.diff-line-marker-deletion,
.diff-line-deletion {
	background-color: var(--override-deletion-background-color);
}

.diff-line-addition .inner-diff {
	background-color: var(--override-addition-inner-diff-background-color);
}

.diff-line-deletion .inner-diff {
	background-color: var(--override-deletion-inner-diff-background-color);
}

.diff-line-spacer {
	color: rgb(229, 231, 235);
	text-align: left;
	background-color: rgba(24, 24, 27, 1);
	padding-left: 8px;
	padding-right: 8px;
}
