.draggable-chip-container {
	position: absolute;
	display: flex;
}

.draggable-chip {
	z-index: 3;
	position: relative;
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: var(--clr-bg-1);
	border-radius: var(--radius-m);
	border: 1px solid var(--clr-border-2);
	padding: 8px;
	min-width: 50px;
	max-width: 250px;
}

.draggable-chip-icon {
	width: 14px;
	height: 14px;
}

.draggable-chip-amount {
	position: absolute;
	top: -6px;
	right: -8px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-scale-ntrl-20);
	color: var(--clr-scale-ntrl-100);
	padding: 2px 4px;
	min-width: 16px;
	border-radius: 16px;
	margin-left: 5px;
}

/* if dragging more then one item */
.draggable-chip-two {
	&::after {
		content: '';
		position: absolute;
		z-index: 2;
		top: 6px;
		left: 6px;
		width: 100%;
		height: 100%;
		border: 1px solid var(--clr-border-2);
		background-color: var(--clr-bg-1);
		border-radius: var(--radius-m);
	}
}

.draggable-chip-multiple {
	&::after,
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1px solid var(--clr-border-2);
		background-color: var(--clr-bg-1);
		border-radius: var(--radius-m);
	}

	&::before {
		z-index: 2;
		top: 6px;
		left: 6px;
	}

	&::after {
		z-index: 1;
		top: 12px;
		left: 12px;
	}
}

/* COMMIT */
.draggable-commit {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: var(--clr-bg-1);
	border-radius: var(--radius-m);
	border: 1px solid var(--clr-border-2);
	padding: 12px 12px 12px 16px;
	overflow: hidden;
}

.draggable-commit-indicator {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 4px;
		height: 100%;
	}
}

.draggable-commit-localAndRemote {
	&::before {
		background-color: var(--clr-commit-remote);
	}
}

.draggable-commit-local {
	color: var(--clr-text-1);
	&::before {
		background-color: var(--clr-commit-local);
	}
}

.draggable-commit-integrated {
	color: var(--clr-text-1);
	&::before {
		background-color: var(--clr-commit-shadow);
	}
}

.draggable-commit-author-img {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.draggable-commit-info {
	display: flex;
	align-items: center;
}

.draggable-commit-info-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--clr-text-2);

	&:not(:first-child):before {
		content: '•';
		margin: 0 5px;
		color: var(--clr-text-3);
	}
}

.drag-handle {
	opacity: 0.5;

	/* disable children events in order to prevent false dragleave events */
	& > * {
		pointer-events: none;
	}
}

@keyframes dropzone-scale {
	from {
		opacity: 0;
		transform: scale(0.96);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
