.text-input {
	padding: 4px 10px;
	color: var(--clr-text-1);
	background-color: var(--clr-bg-1);
	border: 1px solid var(--clr-border-2);
	border-radius: var(--radius-s);
	transition: border-color var(--transition-fast);

	&::placeholder {
		color: var(--clr-text-3);
	}

	&:hover {
		border-color: var(--clr-border-1);
	}

	&:focus,
	&:focus-within {
		border-color: var(--clr-border-1);
		outline: none;
	}

	&:invalid,
	&.invalid {
		border-color: var(--clr-theme-err-element);
	}

	&:disabled,
	&.disabled {
		color: var(--clr-text-2);
		border-color: var(--clr-scale-ntrl-70);
		background-color: var(--clr-bg-2);
	}
}
