[package]
name = "but-settings"
version = "0.0.0"
edition = "2024"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false

[dependencies]
anyhow = "1.0.95"
serde = { workspace = true, features = ["std"] }
serde_json = { version = "1.0", features = ["std", "arbitrary_precision"] }
serde_json_lenient = "0.2.3"
gitbutler-fs.workspace = true
notify = { version = "6.0.1" }
tracing.workspace = true
tokio = { workspace = true, features = ["macros", "rt"] }

[[test]]
name = "settings"
path = "tests/mod.rs"

[dev-dependencies]
