@layer sharable {
	.markdown {
		user-select: text;
	}

	.markdown p:last-child,
	.markdown ul:last-child,
	.markdown ol:last-child,
	.markdown blockquote:last-child,
	.markdown pre:last-child,
	.markdown hr:last-child {
		margin-bottom: 0;
	}

	.markdown h1 {
		font-size: 2em;
		margin-bottom: 0.8em;
	}

	.markdown h2 {
		font-size: 1.5em;
		margin-bottom: 0.8em;
	}

	.markdown h3 {
		font-size: 1.17em;
		margin-bottom: 0.8em;
	}

	.markdown h4 {
		font-size: 1em;
		margin-bottom: 0.8em;
	}

	.markdown p {
		margin-bottom: 1.2em;
	}

	.markdown ul {
		display: block;
		list-style-type: disc;
		margin: 1em 0;
		padding: 0 0 0 2em;
	}

	.markdown ol {
		display: block;
		list-style-type: decimal;
		margin: 1em 0;
		padding: 0 0 0 2em;
	}

	.markdown li {
		margin: 0.5em 0;
	}

	.markdown blockquote {
		margin: 1em 0;
		padding: 0 0 0 2em;
	}

	.markdown pre {
		margin: 1em 0;
		padding: 1em;
		background-color: var(--clr-scale-ntrl-90);
		border: 1px solid var(--clr-scale-ntrl-70);
		overflow: auto;
		border-radius: var(--radius-m);
	}

	.markdown code {
		font-family: var(--fontfamily-mono);
		background-color: var(--clr-scale-ntrl-90);
		border: 1px solid var(--clr-scale-ntrl-70);
		padding: 1px 3px;
		border-radius: var(--radius-s);
	}

	.markdown a {
		text-decoration: underline;
	}

	.markdown hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
		margin: 2em 0;
		opacity: 0.2;
	}

	.markdown b,
	.markdown strong {
		font-weight: bolder;
	}
}
