@layer sharable {
	.token-variable {
		color: #8953800;
	}

	.token-property {
		color: #0550ae;
	}

	.token-type {
		color: #116329;
	}

	.token-variable-special {
		color: #953800;
	}

	.token-definition {
		color: #953800;
	}

	.token-number {
		color: #0550ae;
	}

	.token-string {
		color: #0550ae;
	}

	.token-string-special {
		color: #0a3069;
	}

	.token-keyword {
		color: #cf222e;
	}

	.token-comment {
		color: #6e7781;
	}

	.token-meta {
		color: #1f2328;
	}

	.token-invalid {
		color: #82071e;
	}

	.token-tag {
		color: #116329;
	}

	.token-attribute {
		color: #1f2328;
	}

	.token-attribute-value {
		color: var(--color-token-attribute-value);
	}

	.token-inserted {
		color: #116329;
		background-color: #11632960;
	}

	.token-deleted {
		color: #82071e;
		background-color: #82071e40;
	}

	.token-heading {
		color: var(--color-token-variable-special);
	}

	.token-link {
		color: var(--color-token-variable-special);
		text-decoration: underline;
	}

	.token-strikethrough {
		text-decoration: strike-through;
	}

	.token-strong {
		font-weight: bold;
	}

	.token-emphasis {
		font-style: italic;
	}

	/* DARK */

	.dark .token-variable {
		color: #79c0ff;
	}

	.dark .token-property {
		color: #79c0ff;
	}

	.dark .token-type {
		color: #7ee787;
	}

	.dark .token-variable-special {
		color: #79c0ff;
	}

	.dark .token-definition {
		color: #ffa657;
	}

	.dark .token-number {
		color: #a5d6ff;
	}

	.dark .token-string {
		color: #79c0ff;
	}

	.dark .token-string-special {
		color: #a5d6ff;
	}

	.dark .token-keyword {
		color: #ff7b72;
	}

	.dark .token-comment {
		color: #8b949e;
	}

	.dark .token-meta {
		color: #ffa657;
	}

	.dark .token-invalid {
		color: #ffa198;
	}

	.dark .token-tag {
		color: #7ee787;
	}

	.dark .token-attribute {
		color: #e6edf3;
	}

	.dark .token-attribute-value {
		color: var(--color-token-attribute-value);
	}

	.dark .token-inserted {
		color: #7ee787;
		background-color: #7ee78740;
	}

	.dark .token-deleted {
		color: #ffa198;
		background-color: #ffa19840;
	}

	.dark .token-heading {
		color: var(--color-token-variable-special);
	}

	.dark .token-link {
		color: var(--color-token-variable-special);
		text-decoration: underline;
	}

	.dark .token-strikethrough {
		text-decoration: strike-through;
	}

	.dark .token-strong {
		font-weight: bold;
	}

	.dark .token-emphasis {
		font-style: italic;
	}
}
