@layer sharable {
	.token-variable {
		color: #0550ae;
	}

	.token-property {
		color: #0550ae;
	}

	.token-type {
		color: #116329;
	}

	.token-variable-special {
		color: #953800;
	}

	.token-definition {
		color: #953800;
	}

	.token-number {
		color: #0550ae;
	}

	.token-string {
		color: #0550ae;
	}

	.token-string-special {
		color: #0a3069;
	}

	.token-keyword {
		color: #cf222e;
	}

	.token-comment {
		color: #6e7781;
	}

	.token-meta {
		color: #1f2328;
	}

	.token-invalid {
		color: #82071e;
	}

	.token-tag {
		color: #116329;
	}

	.token-attribute {
		color: #1f2328;
	}

	.token-attribute-value {
		color: var(--color-token-attribute-value);
	}

	.token-inserted {
		background-color: var(--clr-diff-addition-line-highlight);
	}

	.token-deleted {
		background-color: var(--clr-diff-deletion-line-highlight);
	}

	.token-heading {
		color: var(--color-token-variable-special);
	}

	.token-link {
		color: var(--color-token-variable-special);
		text-decoration: underline;
	}

	.token-strikethrough {
		text-decoration: line-through;
	}

	.token-strong {
		font-weight: bold;
	}

	.token-emphasis {
		font-style: italic;
	}

	/* DARK */

	.dark {
		.token-variable {
			color: #79c0ff;
		}

		.token-property {
			color: #79c0ff;
		}

		.token-type {
			color: #7ee787;
		}

		.token-variable-special {
			color: #79c0ff;
		}

		.token-definition {
			color: #ffa657;
		}

		.token-number {
			color: #a5d6ff;
		}

		.token-string {
			color: #79c0ff;
		}

		.token-string-special {
			color: #a5d6ff;
		}

		.token-keyword {
			color: #ff7b72;
		}

		.token-comment {
			color: #8b949e;
		}

		.token-meta {
			color: #ffa657;
		}

		.token-invalid {
			color: #ffa198;
		}

		.token-tag {
			color: #7ee787;
		}

		.token-attribute {
			color: #e6edf3;
		}

		.token-attribute-value {
			color: var(--color-token-attribute-value);
		}

		.token-heading {
			color: var(--color-token-variable-special);
		}

		.token-link {
			color: var(--color-token-variable-special);
			text-decoration: underline;
		}

		.token-strikethrough {
			text-decoration: strike-through;
		}

		.token-strong {
			font-weight: bold;
		}

		.token-emphasis {
			font-style: italic;
		}
	}
}
