:root {
	font-family: system-ui;

	--pane-padding: 16px;
	--row-block-padding: 4px;
	--row-inline-padding: 8px;
	--row-line-height: 19px;
}

body {
	margin: 0;
}

input,
textarea,
select {
	padding: 0;
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	line-height: inherit;
}

button {
	padding: 0;
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	line-height: inherit;
	text-align: left;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 0;
}

ul,
pre,
p {
	margin-block: 0;
}

ul,
ol {
	padding-left: 0;
	list-style: none;
}
