:root {
	font-family: system-ui;

	--pane-padding: 16px;
}

body {
	margin: 0;
}

input,
textarea,
select {
	font: inherit;
	line-height: inherit;
}

button {
	border: none;
	font: inherit;
	line-height: inherit;
	text-align: left;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 0;
}

ul,
pre,
p {
	margin-block: 0;
}

textarea,
button {
	padding: 2px 4px;
}
