/* scrollbar helpers */
.hide-native-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

/* custom scrollbar */
.scrollbar,
pre {
	&::-webkit-scrollbar {
		width: 14px;
		background-color: transaparent;
	}

	&::-webkit-scrollbar-track {
		background-color: transaparent;
	}

	&::-webkit-scrollbar-thumb {
		border: 4px solid rgba(0, 0, 0, 0);
		border-radius: 12px;
		background-clip: padding-box;
		background-color: var(--clr-border-1);
		opacity: 0.3;
	}

	&::-webkit-scrollbar-thumb:hover {
		opacity: 0.8;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

.stack-v {
	display: flex;
	flex-direction: column;
}

.stack-h {
	display: flex;
	flex-direction: row;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.no-select {
	cursor: default;
	user-select: none;
}

.hide-when-empty {
	&:empty {
		display: none;
	}
}

.no-pointer-events {
	pointer-events: none;
}

.pointer-events {
	pointer-events: auto;
}

.underline {
	text-decoration: underline;
}

.underline-dotted {
	text-decoration: underline dotted;
}

.underline,
.underline-dotted {
	text-underline-offset: 3px;
}

.capitalize {
	display: inline-block;
}
.capitalize:first-letter {
	text-transform: capitalize;
}

/* OPACITY */
.opacity-10 {
	opacity: 0.1;
}
.opacity-20 {
	opacity: 0.2;
}
.opacity-30 {
	opacity: 0.3;
}
.opacity-40 {
	opacity: 0.4;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-60 {
	opacity: 0.6;
}
.opacity-70 {
	opacity: 0.7;
}
.opacity-80 {
	opacity: 0.8;
}
.opacity-90 {
	opacity: 0.9;
}

/* ANIMATION */

.wiggle-animation {
	animation: wiggle-animation 0.35s forwards;
}

@keyframes wiggle-animation {
	0% {
		transform: translateX(-3px);
	}
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

.highlight-animation {
	animation: highlight-animation 0.5s forwards;
}

@keyframes highlight-animation {
	0% {
		transform: translate(0, 0) rotate(0deg);
		box-shadow: 0 0 0 0 color-mix(in srgb, var(--clr-theme-pop-element), transparent, 0.5);
	}
	12.5% {
		transform: translate(-1px, -1px) rotate(-0.5deg);
		box-shadow: 0 0 0 1px var(--clr-theme-pop-element);
	}
	25% {
		transform: translate(1px, 0px) rotate(0.5deg);
		box-shadow: 0 0 0 1.5px var(--clr-theme-pop-element);
	}
	37.5% {
		transform: translate(-1px, 1px) rotate(-0.3deg);
		box-shadow: 0 0 0 2px var(--clr-theme-pop-element);
	}
	50% {
		transform: translate(1px, -1px) rotate(0.3deg);
		box-shadow: 0 0 0 2px var(--clr-theme-pop-element);
	}
	62.5% {
		transform: translate(-1px, 0px) rotate(-0.2deg);
		box-shadow: 0 0 0 1.5px var(--clr-theme-pop-element);
	}
	75% {
		transform: translate(1px, 1px) rotate(0.2deg);
		box-shadow: 0 0 0 1px var(--clr-theme-pop-element);
	}
	87.5% {
		transform: translate(0px, -1px) rotate(-0.1deg);
		box-shadow: 0 0 0 0.5px var(--clr-theme-pop-element);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
		box-shadow: 0 0 0 0 color-mix(in srgb, var(--clr-theme-pop-element), transparent, 0.5);
	}
}

/* ACCESSIBILITY */
.focus-state {
	outline: none;
	outline-offset: 2px;

	&:focus-visible {
		outline: 0.094rem solid var(--focus-color);
	}
}
