.iconWithCheckbox {
	display: grid;

	& > * {
		grid-area: 1 / 1;
	}
}

.checkbox {
	justify-self: center;
	opacity: 0;

	:global([data-has-checked-operands]) &,
	.row:hover &,
	&:focus {
		opacity: 1;
	}

	:global([role="tree"]:not([data-has-checked-operands])) &[data-disabled] {
		display: none;
	}
}

.conflictIcon {
	flex-shrink: 0;
	margin-right: 2px;
}
