.iconWithCheckbox {
	display: grid;

	& > * {
		grid-area: 1 / 1;
	}
}

.checkbox {
	justify-self: center;
	opacity: 0;

	&[data-checked],
	.row:hover &,
	&:focus {
		opacity: 1;
	}

	&[data-disabled]:not([data-checked]) {
		display: none;
	}
}

.conflictIcon {
	flex-shrink: 0;
	margin-right: 2px;
}
