@import '@gitbutler/ui/main.css';

:root {
	--layout-col-gap: 20px;
}

body {
	min-height: 100vh;
	background: var(--clr-bg-2);
	font-family: var(--fontfamily-default);

	--layout-side-paddings: 80px;

	@media (--desktop-small-viewport) {
		--layout-side-paddings: 40px;
	}

	@media (--mobile-viewport) {
		--layout-side-paddings: 16px;
	}
}

/* selection change */
body::selection {
	background: color-mix(in srgb, var(--clr-scale-pop-60) 40%, transparent);
}

body:has(.marketing-page)::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body:has(.marketing-page)::-webkit-scrollbar-thumb {
	background: var(--clr-scale-ntrl-60);
}
