body {
	background-color: var(--clr-bg-1);
	color: var(--clr-text-1);
}

.sbdocs {
	hr {
		margin: 50px 0 30px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		border-bottom: none;
		font-weight: 600;
	}
}

.colors {
	display: flex;
	width: 100%;
}

.color-item {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 40px 10px 10px;
	border: 1px solid #d9d9d9;
	background: repeating-linear-gradient(
		-55deg,
		#d9d9d9,
		#d9d9d9 1px,
		transparent 1px,
		transparent 6px
	);

	span {
		color: #000;
		font-size: 12px;
	}
}
