.shortcutsBar {
	display: flex;
	column-gap: 12px;
	row-gap: 4px;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 4px var(--pane-padding);
	border-top: 1px solid;
	color: #555;
}

.shortcutsBarMode {
	color: #111;
	font-weight: 600;
	text-transform: lowercase;
}

.shortcutsBarItem {
	display: flex;
	column-gap: 4px;
	align-items: baseline;
}

.shortcutsBarKeys {
	color: #111;
	font-family: monospace;
}
