:root {
	--diffs-font-size: 12px;
}

.panel {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
}

.header {
	padding-inline: var(--panel-padding);
	padding-block-start: var(--panel-padding);
}

.panes {
	--resize-spacing: 6px;

	min-height: 0;
}

.innerPanel {
	min-width: 0;
}

.filesPanel {
	padding-inline: var(--panel-padding) var(--resize-spacing);
	padding-block: var(--panel-padding);
}

.detailsContentPanel {
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	padding-inline: var(--panel-padding);

	&.alongsideFiles {
		padding-inline-start: var(--resize-spacing);
	}
}

.panelResizeHandle {
	width: 1px;
	margin-block-start: var(--panel-padding);
	transition: background-color 0.2s;

	&[data-separator="hover"],
	&[data-separator="active"] {
		background-color: var(--border-3);
	}
}

.headerActions {
	display: flex;
	align-items: center;
	margin-block: 16px;
	gap: 10px;
}

.avatar {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: lightgray;
}

.author,
.commitMeta {
	color: var(--text-3);
}

.detailsVirtualizer {
	min-height: 0;
	padding-block: var(--panel-padding);
	overflow: auto;
}

.heading {
	margin-block-end: 18px;
}

.pr {
	margin-block-end: 18px;
	color: var(--text-2);
}

.commitMessageBody {
	margin-block: 18px;
	color: var(--text-2);
}

.fileDiffsList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fileDiff {
	border: 1px solid var(--border-3);
	border-radius: 10px;
}

.fileHeader {
	border-bottom: 1px solid var(--border-3);
}

.filePath {
	margin: 8px;
	overflow: hidden;
	color: var(--text-3);

	/* Overflow ellipsis on the left, pioritising filename. */
	direction: rtl;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pathLast {
	color: var(--text-1);
}

.hunkHeaderRow {
	display: flex;
	column-gap: 4px;
	align-items: center;
	margin: 8px;

	svg {
		display: block;
	}
}

.hunkHeader {
	flex-grow: 1;
}

.emptyFileHunks {
	margin: 8px;
}
