:root {
	--diffs-font-size: 12px;
}

.panel {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
}

.headerActions {
	display: flex;
	align-items: center;
	margin-block: 16px;
	gap: 10px;
}

.avatar {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: lightgray;
}

.author,
.commitMeta {
	color: var(--text-3);
}

.detailsVirtualizer {
	padding-block-end: var(--panel-padding);
	overflow: auto;
}

.heading {
	margin-block-end: 18px;
}

.pr {
	margin-block-end: 18px;
	color: var(--text-2);
}

.commitMessageBody {
	margin-block: 18px;
	color: var(--text-2);
}

.fileDiffsList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fileDiff {
	border: 1px solid var(--border-3);
	border-radius: 10px;
}

.fileHeader {
	border-bottom: 1px solid var(--border-3);
}

.filePath {
	margin: 8px;
}

.pathInit {
	color: var(--text-3);
}

.hunkHeaderRow {
	display: flex;
	column-gap: 4px;
	align-items: center;
	margin: 8px;

	svg {
		display: block;
	}
}

.hunkHeader {
	flex-grow: 1;
}

.emptyFileHunks {
	margin: 8px;
}
