.checkbox {
	margin: 0;
	opacity: var(--gitbutler-diff-gutter-checkbox-opacity, 0);

	&[data-checked],
	&[data-indeterminate],
	&:focus {
		opacity: 1;
	}
}

.comment {
	z-index: 1;
	position: relative;
	translate: calc(50% + 1px) 0;
}
