.card {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	margin: 8px 12px;
	overflow: hidden;
	border: 1px solid var(--border-3);
	border-radius: var(--radius-card);
	background-color: var(--bg-1);
}

.comments {
	display: flex;
	flex-direction: column;
	padding: 10px 12px 4px;
	gap: 8px;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 12px 6px;
	gap: 8px;

	& > div:first-child {
		flex-basis: 100%;
	}
}

.forgeLink {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	gap: 2px;
	color: var(--text-2);

	&:hover {
		color: var(--text-1);
	}
}
