.section {
	padding: 6px;
	border-radius: var(--radius-l);
	background-color: var(--bg-2);
}

.tree {
	display: flex;
	flex-direction: column;

	&:focus {
		/* The focus state is displayed on the item row instead. */
		outline: none;
	}
}
