.tree {
	display: flex;
	flex-direction: column;

	&:focus {
		/* The focus state is displayed on the item row instead. */
		outline: none;
	}
}

.fileStatusChar {
	&[data-char="A"] {
		color: #64d5a6;
	}

	&[data-char="D"] {
		color: #f08a8a;
	}

	&[data-char="M"] {
		color: #95c9f0;
	}

	&[data-char="R"] {
		color: #a855f7;
	}
}
