.notice {
	align-self: center;
}

.container {
	z-index: 1;
	position: fixed;
	bottom: var(--panel-padding-block);
	left: 50%;
	max-width: min(calc(100% - (2 * var(--panel-padding-inline))), 640px);
	transform: translateX(-50%);
}
