.section {
	padding: 6px;
	border-radius: var(--radius-l);
	background-color: var(--bg-2);
}

.tree {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-columns: minmax(0, 1fr);
	gap: 12px;

	&:focus {
		/* The focus state is displayed on the item row instead. */
		outline: none;
	}
}

.changesContainer {
	padding-inline: var(--panel-padding);
}

.stacksScroller {
	padding-inline: var(--panel-padding);
	padding-bottom: var(--panel-padding);
	scroll-padding: var(--panel-padding);
}

.stacks {
	display: flex;
	row-gap: 12px;
	flex-direction: column;
}

.segments {
	display: flex;
	flex-direction: column;
}

.segmentParentItemRow:last-child {
	height: 8px;
	min-height: auto;
	overflow: hidden;
}

.stack {
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
}

.inlineEditorForm {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-width: 0;
}

.inlineEditorInput {
	flex-grow: 1;

	textarea& {
		resize: none;
		field-sizing: content;
	}

	&:focus {
		outline: none;
	}
}

.inlineEditorHelp {
	display: flex;
	margin-left: -6px;
	padding-block-end: 6px;

	& > button {
		text-transform: lowercase;
	}
}

.inlineEditorShortcutLabel {
	opacity: 0.6;
}

.changesSection {
	display: flex;
	row-gap: 4px;
	flex-direction: column;
}

.branchLabel {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-width: 0;
}

.branchLabelMeta {
	display: flex;
	align-items: center;
	padding-block-end: 6px;
	gap: 8px;
}

.branchLabelMetaItem {
	display: flex;
	align-items: center;
	/* Match button height */
	height: 20px;
	gap: 4px;
}

.commitControls {
	display: flex;
	row-gap: 8px;
	flex-direction: column;
	padding: 8px;
	border-radius: var(--radius-m);
	background: var(--bg-1);

	&:not(:has(.commitTextarea[disabled])) {
		&:hover,
		&:focus-within {
			outline: 1px solid var(--border-2);
			outline-offset: -1px;
		}
	}
}

.commitTextarea {
	padding: 8px;
	resize: none;
	field-sizing: content;
	box-sizing: content-box;
	min-height: calc(1lh);
	max-height: calc(10lh);

	&:focus {
		outline: none;
	}
}

.commitControlsFooter {
	display: flex;
	column-gap: 4px;
}

.commitDropdownButton {
	display: flex;

	& > * {
		overflow: hidden;
	}

	& > :first-child {
		border-right: 0;
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}

	& > :last-child {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}
}

.commitDropdownButtonSeparator {
	display: grid;
	width: 1px;
	background-color: color-mix(in srgb, var(--scale-pop-60) 50%, transparent);

	&:after {
		background-color: color-mix(in srgb, var(--scale-pop-40) 20%, transparent);
		content: "";
	}
}

.commitTargetComboboxTrigger {
	display: flex;
	column-gap: 6px;
	flex-grow: 1;
	align-items: center;
	justify-content: start;
	min-width: 0;
	padding-inline: 8px;
	border-radius: var(--radius-m);
	color: color-mix(in srgb, var(--text-1) 60%, transparent);
	white-space: nowrap;

	&:not([data-disabled]):hover,
	&:not([data-disabled])[aria-expanded="true"] {
		background-color: color-mix(in srgb, var(--fill-gray-bg) var(--opacity-bg-hover), transparent);
	}
}

.commitTargetComboboxTriggerLabel {
	overflow: hidden;
	text-overflow: ellipsis;
}

.commitTargetComboboxPopup {
	display: flex;
	flex-direction: column;
	width: max(var(--anchor-width), 200px);
}

.commitTargetComboboxInput {
	padding-inline: 10px;
	padding-block: 4px;
	border-bottom: 1px solid var(--border-2);

	&:focus {
		outline: none;
	}
}

.commitTargetComboboxList {
	--approx-input-height: 50px;
	max-height: min(300px, calc(var(--available-height) - var(--approx-input-height)));
	overflow: auto;

	&:not(:empty) {
		padding-block: 4px;
	}
}

.commitTargetComboboxItem {
	padding-inline: 10px;
	padding-block: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;

	&[data-highlighted] {
		background-color: var(--bg-2);
	}
}

.commitTargetComboboxEmpty {
	padding-inline: 10px;
	padding-block: 4px;
	color: var(--color-text-secondary);
}

.graphSegmentWithCheckbox {
	display: grid;
	justify-items: center;

	& > * {
		grid-area: 1 / 1;
	}
}

.commitCheckbox {
	margin-block-start: 7px;
	opacity: 0;

	.treeWithCheckedCommits &,
	.commitRow:hover &,
	&:focus {
		opacity: 1;
	}

	.tree:not(.treeWithCheckedCommits) &[data-disabled] {
		display: none;
	}
}

.itemRowContainer {
	display: grid;

	& > * {
		grid-area: 1 / 1;
		min-width: 0;
	}
}

.commitTargetIndicator {
	align-self: start;
	justify-self: start;
	margin-left: -15px;
	margin-block-start: 5px;
}
