.page {
	flex-grow: 1;
	min-height: 0;
}

.notFound {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.panel {
	/* Stretch/shrink single child element to fit this element. */
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	grid-template-columns: minmax(0, 1fr);
}
