.unassignedChangesLane {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	width: 300px;
}

.stackLane {
	flex-shrink: 0;
	width: 350px;
}

.headInfo {
	display: flex;
	row-gap: calc(var(--row-block-padding) + var(--row-line-height));
	flex-direction: column;
}

.stackLanes {
	display: flex;
	column-gap: 8px;
}

.emptyLane {
	flex-shrink: 0;
	width: 300px;
}

.unassignedChanges {
	flex-grow: 1;
	min-height: 300px;
	border: 1px dotted;
}

.assignedChanges {
	min-height: 80px;
	border: 1px dotted;
}

.commitForm {
	display: flex;
	flex-direction: column;
}

.commitFormMessageInput {
	field-sizing: content;
	box-sizing: content-box;
	min-height: calc(2lh);
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	background-color: #eee;
	resize: vertical;
}

.segments {
	display: flex;
	row-gap: calc(var(--row-block-padding) + var(--row-line-height));
	flex-direction: column;
}

.branchButton {
	width: 100%;
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	font-weight: bold;
	line-height: var(--row-line-height);
}

.commit {
	display: flex;
	position: relative;
	flex-direction: column;
}

.commitMoveTarget {
	--indicator-height: 3px;

	position: absolute;
	height: var(--indicator-height);
	inset-inline: 0;
	background-color: black;
	pointer-events: none;
}

.commitMoveTargetAbove {
	top: 0;
	transform: translateY(calc(var(--indicator-height) / -2));
}

.commitMoveTargetBelow {
	bottom: 0;
	transform: translateY(calc(var(--indicator-height) / 2));
}

.tooltip {
	padding: 4px 8px;
	border: 1px solid;
	background-color: white;
}

.dragOver {
	outline: 2px dashed black;
}

.stack {
	display: flex;
	row-gap: calc(var(--row-block-padding) + var(--row-line-height));
	flex-direction: column;
}

.stackHeader {
	display: flex;
	column-gap: 8px;
	align-items: center;
}

.stackMenuTrigger {
	display: grid;
	margin-left: auto;
	padding-inline: 8px;
	/* TODO:  */
	padding-block: 2px;

	svg {
		width: var(--row-line-height);
		height: var(--row-line-height);
	}
}

.selectedCommitMessageBody {
	white-space: pre-wrap;
}

.commonBaseCommit {
	flex-grow: 1;
	text-align: center;
}

.editCommitMessageForm {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding-block: var(--row-block-padding);
	line-height: var(--row-line-height);
}

.editCommitMessageInput {
	flex-grow: 1;
	padding-inline: var(--row-inline-padding);
	field-sizing: content;
	box-sizing: content-box;
	min-height: calc(2lh);
	resize: none;

	&:focus {
		outline: none;
	}
}

.editCommitMessageHelp {
	padding-inline: var(--row-inline-padding);
	color: #ccc;
	font-size: 11px;
}

.editCommitMessageAction {
	color: white;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}
