.container {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-columns: minmax(0, 1fr);
}

.top {
	container-type: inline-size;
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	padding-inline: var(--panel-padding-inline);
	padding-block: var(--panel-padding-block);
}

/* When the panel is too narrow to fit the tab labels, show icons only. */
@container (max-width: 320px) {
	.tabLabel {
		display: none;
	}
}

.page {
	border-top: 1px solid var(--border-section);
}
