.activeTarget {
	border-radius: 8px;
	outline: 2px dashed var(--fill-gray-bg);
}

.activeTargetInside {
	outline-offset: -4px;
}

.activeTargetOutside {
	outline-offset: 2px;
}

.insertionTarget {
	--indicator-height: 3px;

	position: relative;

	&:before {
		position: absolute;
		height: var(--indicator-height);
		inset-inline: 0;
		background-color: var(--clr-pop-70);
		content: "";
		pointer-events: none;
	}
}

.insertionTargetAbove {
	&:before {
		top: 0;
		transform: translateY(calc(var(--indicator-height) / -2));
	}
}

.insertionTargetBelow {
	&:before {
		bottom: 0;
		transform: translateY(calc(var(--indicator-height) / 2));
	}
}
