.page {
	display: grid;
	grid-template-rows: minmax(0, 1fr);
	grid-template-columns: 400px 1fr;
	flex-grow: 1;
	min-height: 0;
}

.pageDetailsFullWindow {
	grid-template-columns: 1fr;
}

.notFound {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.error {
	max-width: 500px;
	margin: auto;
	padding: 24px;
}

.errorTitle {
	margin-block-end: 16px;
	font-size: 15px;
}

.errorActions {
	margin-block: 16px;
}

.errorMessage {
	font-size: 13px;
	word-break: break-word;
}

.outlinePanelBorder {
	border-right: 1px solid var(--border-3);
}
