.itemRow,
.itemRowEmpty {
	display: flex;
	column-gap: 8px;
	min-height: 28px;
	padding-inline: 8px;
	padding-block: 6px;
}

.itemRowHeading {
	padding-block: 5.5px;
}

.itemRow {
	border-radius: var(--radius-m);

	&:where(:hover) {
		background-color: var(--button-ghost-hover-bg);
	}

	&[inert] {
		opacity: 0.5;
	}
}

.itemRowEmpty {
	color: var(--text-2);
}

.itemRowSelected {
	background-color: color-mix(var(--fill-gray-bg) 13%, transparent);

	&:has(:is(textarea, input):focus),
	[data-selection-scope]:focus & {
		background-color: var(--fill-gray-bg);
		color: var(--fill-gray-fg);
	}
}

.itemRowHighlighted {
	background-color: #63cdc7;
	color: var(--text-1);
}

.itemRowToolbar {
	display: none;
	column-gap: 2px;

	.itemRow:hover &,
	.itemRow:focus-within &,
	.itemRowSelected &,
	&.itemRowToolbarForceVisible {
		display: flex;
	}
}

.itemRowLabel {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.itemRowIconButton {
	display: flex;
	column-gap: 4px;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 20px;
	margin-block: -2px;
	padding-inline: 3px;
	border-radius: 8px;
	color: var(--text-1);
	line-height: 1;
	white-space: nowrap;
	--icon-size: 14px;

	&:disabled,
	&[data-disabled] {
		opacity: 0.5;
	}

	&:not([data-selection-scope]:focus .itemRowSelected &) {
		& [data-icon] {
			opacity: 0.6;
		}

		&:not(:disabled, [data-disabled]):hover {
			background-color: color-mix(in srgb, var(--scale-gray-0) 5%, transparent);

			& [data-icon] {
				opacity: 0.8;
			}
		}
	}

	[data-selection-scope]:focus .itemRowSelected & {
		color: var(--text-1-invert);

		& [data-icon] {
			opacity: 0.7;
		}

		&:not(:disabled, [data-disabled]):hover {
			background-color: color-mix(in srgb, var(--scale-gray-100) 5%, transparent);

			& [data-icon] {
				opacity: 0.9;
			}
		}
	}
}

.changesCountBubble {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	height: 16px;
	margin-inline-start: 6px;
	margin-block-start: -1px;
	padding-inline: 4px;
	padding-block: 2px;
	border-radius: 10px;
	background-color: var(--fill-gray-bg);
	color: var(--fill-gray-fg);
	vertical-align: middle;

	[data-selection-scope]:focus .itemRowSelected & {
		background-color: var(--fill-gray-fg);
		color: var(--fill-gray-bg);
	}
}
