.container {
	display: flex;
	column-gap: 8px;
	min-height: 28px;
	padding-inline: 8px;

	&[inert] {
		opacity: 0.5;
	}
}

.containerInteractive {
	border-radius: var(--radius-m);

	&:where(:hover) {
		background-color: var(--list-item-hover-bg);
	}
}

.containerSelected {
	background-color: color-mix(var(--fill-gray-bg) var(--opacity-bg-selected-blur), transparent);

	&:has(:is(textarea, input):focus),
	[data-selection-scope]:focus & {
		background-color: var(--fill-gray-bg);
		color: var(--fill-gray-fg);
	}
}

.containerHighlighted {
	background-color: #63cdc7;
	color: var(--text-1);
}

.toolbar {
	display: none;

	.container:hover &,
	.container:focus-within &,
	.containerSelected &,
	&.toolbarForceVisible {
		display: flex;
		column-gap: 8px;
		padding-block: 4px;
	}

	button {
		margin-inline: -4px;
	}
}

.labelContainer {
	display: flex;
	column-gap: 6px;
	flex-grow: 1;
	min-width: 0;
	padding-block: 6px;
}

.label {
	line-height: 16px;
}

.labelSingleLine {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fadedText {
	color: var(--text-2);

	[data-selection-scope]:focus .containerSelected & {
		color: var(--text-2-invert);
	}
}

.buttonGhost {
	[data-selection-scope]:focus .containerSelected &,
	.containerSelected:has(:is(textarea, input):focus) & {
		/* Duplicated styles for ghost-inverted button variant. This is necessary to
		make the variant responsive to selection/focus changes purely with CSS. */

		--button-border: none;
		--button-bg: transparent;
		--button-fg: var(--text-1-invert);
		--button-icon-opacity: 0.7;
		--button-hover-bg: color-mix(in srgb, var(--scale-gray-100) 5%, transparent);
		--button-hover-icon-opacity: 0.9;
	}
}

.buttonOutline {
	[data-selection-scope]:focus .containerSelected &,
	.containerSelected:has(:is(textarea, input):focus) & {
		/* Duplicated styles for outline-inverted button variant. This is necessary to
		make the variant responsive to selection/focus changes purely with CSS. */

		--button-border: 1px solid color-mix(in srgb, var(--fill-gray-fg) 30%, transparent);
		--button-bg: transparent;
		--button-fg: var(--text-1-invert);
		--button-icon-opacity: 0.6;
		--button-hover-bg: color-mix(in srgb, var(--scale-gray-100) 5%, transparent);
		--button-hover-icon-opacity: 0.8;
	}
}

.bubble {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	height: 16px;
	padding-inline: 5px;
	border-radius: 10px;
}

.bubbleGroup {
	display: inline-flex;

	& > :not(:first-child) {
		border-start-start-radius: 0;
		border-end-start-radius: 0;
	}

	& > :not(:last-child) {
		border-start-end-radius: 0;
		border-end-end-radius: 0;
	}
}

.bubbleFillGray {
	background-color: var(--fill-gray-bg);
	color: var(--fill-gray-fg);

	[data-selection-scope]:focus .containerSelected & {
		background-color: var(--fill-gray-fg);
		color: var(--fill-gray-bg);
	}
}

.bubbleClrSafe {
	background-color: color-mix(in srgb, var(--clr-safe-50) 18%, transparent);
	color: var(--clr-safe-40);

	[data-selection-scope]:focus .containerSelected & {
		background-color: color-mix(in srgb, var(--clr-safe-50) 22%, transparent);
		color: var(--clr-safe-60);
	}
}

.bubbleClrDanger {
	background-color: color-mix(in srgb, var(--clr-danger-50) 18%, transparent);
	color: var(--clr-danger-40);

	[data-selection-scope]:focus .containerSelected & {
		background-color: color-mix(in srgb, var(--clr-danger-50) 22%, transparent);
		color: var(--clr-danger-60);
	}
}
