.section {
	padding: 6px;
	border-radius: var(--radius-l);
	background-color: var(--bg-2);
}

.itemRow,
.itemRowEmpty {
	display: flex;
	column-gap: 8px;
	min-height: 28px;
	padding-inline: 8px;
	padding-block: 6px;
}

.itemRow {
	border-radius: var(--radius-m);

	&:where(:hover) {
		background-color: var(--button-ghost-hover-bg);
	}

	&[inert] {
		opacity: 0.5;
	}
}

.itemRowEmpty {
	color: var(--text-2);
}

.itemRowSelected {
	background-color: color-mix(var(--fill-gray-bg) 60%, transparent);
	color: var(--fill-gray-fg);

	&:has(:where(textarea, input):focus),
	:where([data-selection-scope]:focus) & {
		background-color: var(--fill-gray-bg);
	}
}

.itemRowHighlighted {
	background-color: #63cdc7;
	color: var(--text-1);
}

.itemRowToolbar {
	display: none;
	column-gap: 2px;

	.itemRow:hover &,
	.itemRow:focus-within &,
	.itemRowSelected &,
	&.forceVisibleToolbar {
		display: flex;
	}
}

.itemRowLabel {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.itemRowIconButton {
	margin: -2px;
}
