.commit-line {
	position: relative;
	width: 2px;
	height: 100%;
	background-color: var(--commit-color);

	&.dashed {
		height: calc(100% + 1px);
		background: linear-gradient(to bottom, var(--commit-color) 50%, transparent 50%);
		background-size: 4px 4px;
	}
}
