.layout {
	display: grid;
	grid-template:
		"topBar topBar" auto
		"sidebar content" minmax(0, 1fr)
		"shortcutBar shortcutBar" auto
		/ max-content minmax(0, 1fr);
	height: 100dvh;
}

.topBar {
	display: flex;
	row-gap: 8px;
	grid-area: topBar;
	align-items: center;
	padding: 4px;
	border-bottom: 1px solid;
}

.topBarPreviewToggle {
	margin-left: auto;
}

.sidebar {
	display: flex;
	row-gap: 16px;
	grid-area: sidebar;
	flex-direction: column;
	padding: var(--pane-padding);
	border-right: 1px solid;
}

.sidebarNav {
	display: flex;
	row-gap: 8px;
	flex-direction: column;
}

.navLink {
	color: grey;
	text-decoration: none;
}

.navLinkActive {
	color: black;
}

.content {
	display: flex;
	grid-area: content;
	flex-direction: column;
	overflow: auto;
}

.shortcutBarFooter {
	grid-area: shortcutBar;
}
