.lane {
	display: grid;
	grid-auto-columns: 350px;
	grid-auto-flow: column;
	column-gap: 8px;
	align-items: start;
	padding: 8px;
	border: 1px solid;
}

.laneMain {
	display: flex;
	row-gap: 16px;
	flex-direction: column;
}

.laneDiffPane {
	border: 1px solid;
}

.commitsListItem {
	display: flex;
	flex-direction: column;
}

.commitDetails {
	padding-left: 8px;
}

.commitsList {
	padding-left: 0;
	list-style: none;
}

.commitButton {
	flex-grow: 1;
}

.fileList {
	padding-left: 0;
	list-style: none;
}

.fileRow {
	display: flex;
	align-items: center;
}

.fileButton {
	flex-grow: 1;
}

.selected {
	background-color: black;
	color: white;
}

.selectedWithin {
	background-color: lightgray;
}

.hunks {
	padding-left: 0;
	list-style: none;
}

.hunkDiff {
	overflow: auto;
}
