.branchesList {
	flex-shrink: 0;
	width: 350px;
}

.branchRow {
	display: flex;
}

.branchButton {
	flex-grow: 1;
	padding-inline: var(--selection-inline-padding);
	padding-block: var(--selection-block-padding);
	line-height: var(--selection-line-height);
}

.branchApplyButton {
	display: grid;
	padding-inline: var(--selection-inline-padding);
	padding-block: var(--selection-block-padding);

	svg {
		width: var(--selection-line-height);
		height: var(--selection-line-height);
	}
}

.branchApplyButtonInactive {
	opacity: 0.35;
}
