.branchesLayout {
	display: flex;
	column-gap: 16px;
	flex-grow: 1;
}

.branchesList {
	flex-shrink: 0;
	padding: 8px;
	border: 1px solid;
	list-style: none;
}

.branchesListItem {
	display: flex;
}

.branchButton {
	flex-grow: 1;
}
