.lanes {
	display: flex;
	flex-grow: 1;

	& > * {
		padding: 8px;
		border: 1px solid;
	}

	/* Temporary hack to prevent scroll jumping when diff view collapses. */
	&:after {
		flex-shrink: 0;
		width: 1000px;
		content: "";
	}
}

.laneColumns {
	display: flex;
	column-gap: 8px;
}

.laneMainColumn {
	display: flex;
	row-gap: 16px;
	flex-direction: column;
	width: 350px;
}

.laneDiffColumn {
	width: 500px;
	border: 1px solid;
}

.commit {
	display: flex;
	flex-direction: column;
}

.commitDetails {
	padding-left: 8px;
}

.commitsList {
	padding-left: 0;
	list-style: none;
}

.commitButton {
	flex-grow: 1;
}

.fileList {
	padding-left: 0;
	list-style: none;
}

.fileRow {
	display: flex;
	align-items: center;
}

.fileButton {
	flex-grow: 1;
}

.selected {
	background-color: black;
	color: white;
}

.selectedWithin {
	background-color: lightgray;
}

.hunks {
	padding-left: 0;
	list-style: none;
}

.hunkHeaderRow {
	display: flex;
	column-gap: 4px;
	align-items: center;
}

.hunkHeader {
	flex-grow: 1;
	font-family: monospace;
	cursor: grab;
}

.hunkDiff {
	overflow: auto;
}

.dragPreview {
	padding: 4px 8px;
	border: 1px solid;
	background-color: white;
}

.dragging {
	opacity: 0.4;
}
