.unassignedChanges {
	flex-grow: 1;
	min-height: 300px;
	border: 1px dotted;
}

.assignedChanges {
	min-height: 80px;
	border: 1px dotted;
}

.commitForm {
	display: flex;
	flex-direction: column;
}

.commitFormMessageInput {
	field-sizing: content;
	box-sizing: content-box;
	min-height: calc(2lh);
}

.segments {
	display: flex;
	row-gap: 16px;
	flex-direction: column;
	padding-left: 0;
	list-style: none;
}

.commitMoveTarget {
	--hit-area: 19px;
	--indicator-height: 3px;

	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	height: var(--hit-area);
	margin-block: calc(((var(--hit-area) - var(--indicator-height)) / 2) * -1);
	pointer-events: none;

	&:before {
		display: block;
		height: var(--indicator-height);
		content: "";
	}
}

.commitMoveTargetEnabled {
	pointer-events: auto;
}

.commitMoveTargetActive:before {
	background-color: black;
}

.tooltip {
	padding: 4px 8px;
	border: 1px solid;
	background-color: white;
}

.stackMenu {
	align-self: end;
}

.selectedCommitMessageBody {
	white-space: pre-wrap;
}
