.layout {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	height: 100dvh;
}

.topBar {
	padding: 4px;
	border-bottom: 1px solid;
}

.mainContent {
	display: grid;
	grid-template-columns: max-content 1fr;
}

.sidebar {
	display: flex;
	row-gap: 16px;
	flex-direction: column;
	padding: 16px;
	border-right: 1px solid;
}

.sidebarNav {
	display: flex;
	row-gap: 8px;
	flex-direction: column;
}

.navLinkActive {
	font-weight: 700;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 16px;
	overflow: auto;
}
