.layout {
	--sidebar-folder-width: 40px;
	--sidebar-folder-height: 32px;

	--anim-spring-duration: 0.3s;
	--anim-spring-easing: cubic-bezier(0.34, 1.56, 0.64, 1);

	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
	height: 100dvh;
	overflow: hidden;
	background-color: var(--bg-2);
}

.dragRegion {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	app-region: drag;
}

.sidebar {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 76px;
	height: 100%;
	min-height: 0;
}

.sidebarMacSpacer {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	background: linear-gradient(to bottom, var(--bg-2) 70%, transparent);
	pointer-events: none;
}

.projects {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;
	align-items: center;
	padding-block: 18px;
	overflow-y: auto;
	gap: 2px;
	scrollbar-width: none;
}

.projectsMac {
	padding-block-start: 38px;
}

/* Temporary fix. Design is being updated, so we can remove this once it's done. */
.projects::-webkit-scrollbar {
	display: none;
}

.project {
	display: flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 44px;
	scroll-snap-align: center;

	&::before {
		position: absolute;
		bottom: 50%;
		left: -10px;
		width: 4px;
		height: 22px;
		translate: 0 50%;
		scale: 1 0.2;
		border-radius: 10px;
		background-color: var(--fill-gray-bg);
		content: "";
		opacity: 0;
		transition:
			scale 0.1s ease,
			opacity 0.1s ease;
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		scale: 0.75;
		border-radius: 12px;
		background: linear-gradient(to bottom, oklch(80% 0.1 var(--hue)), oklch(70% 0.15 var(--hue)));
		content: "";
		opacity: 0;
		transition:
			opacity 0.12s ease,
			scale 0.12s ease;
	}

	&.selected {
		/* Override ui button. */
		opacity: unset;

		&::before {
			scale: 1 1;
			opacity: 1;
		}

		&::after {
			scale: 1;
			opacity: 0.2;
		}

		.folderFront {
			transform: perspective(60px) rotateX(-18deg) scaleY(0.8);
		}

		.folderBack {
			transform: scaleY(1);
		}
	}
}

.projectShortcut {
	display: flex;
	z-index: 1;
	position: absolute;
	top: 0;
	right: -4px;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border: 1px solid var(--border-2);
	border-radius: 6px;
	background-color: var(--bg-1);
	color: var(--text-2);
	font-size: 11px;
	line-height: 1;

	&:not(.visible) {
		display: none;
	}
}

.folder {
	z-index: 1;
	position: relative;
}

.folderFront {
	z-index: 1;
	position: relative;
	width: var(--sidebar-folder-width);
	height: var(--sidebar-folder-height);
	transform-origin: bottom center;
	background: linear-gradient(to bottom, oklch(90% 0.05 var(--hue)), oklch(80% 0.12 var(--hue)));
	mask-image: url("data:image/svg+xml,%3Csvg width='44' height='35' viewBox='0 0 44 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 35H6C2.68629 35 0 32.3137 0 29V6C0 2.68629 2.68629 0 6 0H12.3647C14.2645 0 16.052 0.899672 17.1837 2.42547L18.2009 3.79675C19.3327 5.32255 21.1202 6.22222 23.0199 6.22222H38C41.3137 6.22222 44 8.90851 44 12.2222V29C44 32.3137 41.3137 35 38 35Z' fill='black'/%3E%3C/svg%3E");
	mask-repeat: no-repeat;
	mask-size: contain;
	transition: transform var(--anim-spring-duration) var(--anim-spring-easing);
}

.folderBack {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--sidebar-folder-width);
	height: var(--sidebar-folder-height);
	transform: scaleY(0.8);
	transform-origin: bottom center;
	border-radius: 8px;
	background: linear-gradient(to bottom, oklch(78% 0.12 var(--hue)), oklch(60% 0.15 var(--hue)));
	opacity: 0.7;
	transition: transform var(--anim-spring-duration) var(--anim-spring-easing);
}

.folderFrontText {
	display: flex;
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: oklch(38% 0.12 var(--hue));
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
}

.content {
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-left: 1px solid var(--border-2);
	border-start-start-radius: 14px;
	border-end-start-radius: 14px;
	background: var(--bg-1);
}

.addProjectButton {
	width: var(--sidebar-folder-width);
	/* Unset styles from design system's button class. */
	margin-top: 2px;
	padding-block: 16px;
}
