.layout {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
	height: 100dvh;
	overflow: hidden;
	background-color: var(--bg-2);
}

.dragRegion {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 16px;
	app-region: drag;
}

.sidebar {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 76px;
	height: 100%;
	min-height: 0;
}

.sidebarMacSpacer {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	background: linear-gradient(to bottom, var(--bg-2) 70%, transparent);
	pointer-events: none;
}

.projects {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;
	align-items: center;
	padding-block: 18px;
	overflow-y: auto;
	gap: 10px;
	scrollbar-width: none;
}

.projectsMac {
	padding-block-start: 38px;
}

/* Temporary fix. Design is being updated, so we can remove this once it's done. */
.projects::-webkit-scrollbar {
	display: none;
}

.project {
	position: relative;
	scroll-snap-align: center;

	&.selected {
		/* Override ui button. */
		opacity: unset;

		&::before {
			position: absolute;
			bottom: 4px;
			left: -15px;
			width: 4px;
			height: 22px;
			border-radius: 10px;
			background-color: var(--fill-gray-bg);
			content: "";
		}
	}
}

.projectShortcut {
	display: flex;
	position: absolute;
	top: 50%;
	right: -8px;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	transform: translateY(-50%);
	border: 1px solid var(--border-2);
	border-radius: 4px;
	background: var(--bg-1);
	color: var(--text-2);
	font-size: 11px;
	line-height: 1;

	&:not(.visible) {
		display: none;
	}
}

.folderFront {
	position: relative;
	width: 44px;
	height: 35px;
	background: linear-gradient(to bottom, oklch(90% 0.05 var(--hue)), oklch(80% 0.1 var(--hue)));
	mask-image: url("data:image/svg+xml,%3Csvg width='44' height='35' viewBox='0 0 44 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38 35H6C2.68629 35 0 32.3137 0 29V6C0 2.68629 2.68629 0 6 0H12.3647C14.2645 0 16.052 0.899672 17.1837 2.42547L18.2009 3.79675C19.3327 5.32255 21.1202 6.22222 23.0199 6.22222H38C41.3137 6.22222 44 8.90851 44 12.2222V29C44 32.3137 41.3137 35 38 35Z' fill='black'/%3E%3C/svg%3E");
	mask-repeat: no-repeat;
	mask-size: contain;
}

.folderFrontText {
	display: flex;
	position: absolute;
	bottom: 6px;
	left: 6px;
	color: oklch(38% 0.12 var(--hue));
	font-size: 11px;
	text-transform: uppercase;
}

.content {
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-left: 1px solid var(--border-2);
	border-start-start-radius: 14px;
	border-end-start-radius: 14px;
	background: var(--bg-1);
}

.addProjectButton {
	/* Unset styles from design system's button class. */
	width: unset;
	padding-block: 16px;
}
