.layout {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-columns: max-content minmax(0, 1fr);
	grid-template-areas:
		"topBar topBar"
		"sidebar content";
	height: 100dvh;
}

.topBar {
	grid-area: topBar;
	padding: 4px;
	border-bottom: 1px solid;
}

.sidebar {
	display: flex;
	row-gap: 16px;
	grid-area: sidebar;
	flex-direction: column;
	padding: 16px;
	border-right: 1px solid;
}

.sidebarNav {
	display: flex;
	row-gap: 8px;
	flex-direction: column;
}

.navLinkActive {
	font-weight: 700;
}

.content {
	display: flex;
	grid-area: content;
	flex-direction: column;
	padding: 16px;
	overflow: auto;
}
