/* CSS VARIABLES */
:root {
	--transition-fast: 0.05s ease;
	--transition-medium: 0.15s ease;
	--transition-slow: 0.2s ease;

	/* Z-index */
	--z-ground: 1;
	--z-lifted: 2;
	--z-floating: 3;
	--z-modal: 4;
	--z-blocker: calc(infinity);

	/* TODO: add focus color */
	--focus-color: var(--clr-scale-pop-50);
	--resizer-color: var(--clr-scale-pop-50);

	/* LEXICAL */
	--lexical-input-background: var(--clr-bg-1);
	--lexical-input-client-padding: 12px;
	--lexical-input-client-toolbar-height: 48px;
	--lexical-input-font-size: 13px;
}
