[package]
name = "but-graph"
version = "0.0.0"
edition.workspace = true
authors.workspace = true
description = "Types to represent Git commit graphs as connected segments, and perform various operations on these."
publish = false
rust-version.workspace = true

[lib]
doctest = false
test = false

[dependencies]
but-core.workspace = true

gix = { workspace = true, features = ["revision"] }
bstr.workspace = true
petgraph.workspace = true
anyhow.workspace = true
bitflags.workspace = true
tracing.workspace = true
itertools.workspace = true

[dev-dependencies]
but-meta = { workspace = true, features = ["legacy"]}
but-testsupport.workspace = true

gitbutler-reference.workspace = true

gix-testtools.workspace = true
insta = "1.44.3"
