[package]
name = "but"
version = "0.0.0"
edition = "2024"
repository = "https://github.com/gitbutlerapp/gitbutler"
license-file = "../../LICENSE.md"
description = "A GitButler CLI tool"
authors = ["GitButler <gitbutler@gitbutler.com>"]
readme = "../../README.md"
publish = false
rust-version = "1.89"

[[bin]]
name = "but"
path = "src/main.rs"
doctest = false

[features]

[dependencies]
but-core.workspace = true
but-project = { workspace = true, features = ["legacy"] }
but-workspace = { workspace = true, features = ["legacy"] }
but-api.workspace = true
but-action.workspace = true
but-graph.workspace = true
but-settings.workspace = true
but-hunk-assignment.workspace = true
but-hunk-dependency.workspace = true
but-claude.workspace = true
but-cursor.workspace = true
but-tools.workspace = true
but-rules.workspace = true
but-gerrit.workspace = true
but-worktrees.workspace = true
but-serde.workspace = true
but-github.workspace = true
but-secret.workspace = true

gitbutler-project.workspace = true
gitbutler-commit.workspace = true
gitbutler-stack.workspace = true
gitbutler-branch-actions.workspace = true
gitbutler-branch.workspace = true
gitbutler-forge.workspace = true
gitbutler-command-context.workspace = true
gitbutler-reference.workspace = true
gitbutler-oxidize.workspace = true
gitbutler-oplog.workspace = true

posthog-rs = { version = "0.3.7" }
serde.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "io-std"] }
strum = { version = "0.27", features = ["derive"] }
clap = { workspace = true, features = ["env", "wrap_help", "color", "error-context", "usage", "suggestions" ] }
clap_complete = "4.5.60"
chrono.workspace = true
bstr.workspace = true
regex.workspace = true
anyhow.workspace = true
rmcp.workspace = true
command-group = { version = "5.0.1", features = ["with-tokio"] }
gix.workspace = true
colored = "3.0.0"
serde_json.workspace = true
terminal_size = "0.4.3"
tracing.workspace = true
tracing-subscriber = { workspace = true, features = [
    "env-filter",
    "std",
    "fmt",
] }
tracing-forest.workspace = true
ratatui = "0.29.0"
crossterm = "0.29.0"
atty = "0.2.0"
cli-prompts = "0.1.0"

[dev-dependencies]
but-core = { workspace = true, features = ["testing"] }
but-testsupport = { workspace = true, features = ["snapbox"] }
snapbox = { workspace = true, features = ["term-svg", "regex"] }
shell-words = "1.1.0"
insta.workspace = true
