[package]
name = "but"
version = "0.0.0"
edition = "2024"
repository = "https://github.com/gitbutlerapp/gitbutler"
license-file = "../../LICENSE.md"
description = "A GitButler CLI tool"
authors = ["GitButler <gitbutler@gitbutler.com>"]
readme = "../../README.md"
publish = false
rust-version = "1.89"

[[bin]]
name = "but"
path = "src/main.rs"
doctest = false

[features]
default = ["legacy"]
legacy = [
    "but-workspace/legacy",
    "but-api/legacy",
    "dep:but-action",
    "dep:but-hunk-assignment",
    "dep:but-hunk-dependency",
    "dep:but-claude",
    "dep:but-cursor",
    "dep:but-tools",
    "dep:but-rules",
    "dep:but-gerrit",
    "dep:but-worktrees",
    "dep:but-worktrees",
]

[dependencies]
but-core.workspace = true
but-graph.workspace = true
but-settings.workspace = true
but-serde.workspace = true
but-secret.workspace = true
but-oxidize.workspace = true
but-path.workspace = true
# NOTE: "legacy" is needed even for non-legacy while we have the `Project` type.
#        Goal is to migrate this data to be project-local.
but-ctx = { workspace = true, features = ["legacy"] }
# NOTE: "legacy" is needed as long as virtual-branches.toml is around.
but-meta = { workspace = true, features = ["legacy"] }
# NOTE: close to mostly 'proper', but depends on `gitbutler-user`
but-github.workspace = true
# NOTE: close to mostly 'proper', but depends on `but-github` which depends on `gitbutler-user`
but-forge.workspace = true
but-workspace = { workspace = true }
but-api = { workspace = true }

# What follows is *basically* newly written crates that are built on top of legacy,
# so need some refactoring/rethinking to become usable.
but-action = { workspace = true, optional = true }
but-hunk-assignment = { workspace = true, optional = true }
but-hunk-dependency = { workspace = true, optional = true }
but-claude = { workspace = true, optional = true }
but-cursor = { workspace = true, optional = true }
but-tools = { workspace = true, optional = true }
but-rules = { workspace = true, optional = true }
but-gerrit = { workspace = true, optional = true }
but-worktrees = { workspace = true, optional = true }

gitbutler-project.workspace = true
gitbutler-commit.workspace = true
gitbutler-stack.workspace = true
gitbutler-branch-actions.workspace = true
gitbutler-branch.workspace = true
gitbutler-reference.workspace = true
gitbutler-oplog.workspace = true

git2.workspace = true
async-openai.workspace = true
posthog-rs = { version = "0.3.7" }
serde.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "io-std"] }
strum = { version = "0.27", features = ["derive"] }
clap = { workspace = true, features = [
    "env",
    "wrap_help",
    "color",
    "error-context",
    "usage",
    "suggestions",
] }
clap_complete = "4.5.60"
chrono.workspace = true
bstr.workspace = true
regex.workspace = true
anyhow.workspace = true
rmcp.workspace = true
command-group = { version = "5.0.1", features = ["with-tokio"] }
gix.workspace = true
colored = "3.0.0"
serde_json.workspace = true
terminal_size = "0.4.3"
tracing.workspace = true
tracing-subscriber = { workspace = true, features = [
    "env-filter",
    "std",
    "fmt",
] }
tracing-forest.workspace = true
ratatui = "0.29.0"
crossterm = "0.29.0"
cli-prompts = "0.1.0"
minus = { version = "5.6.1", default-features = false, features = [
    "static_output",
    "search",
] }
unicode-width = "0.1"

[dev-dependencies]
but-core = { workspace = true, features = ["testing"] }
serde_json = { workspace = true, features = ["preserve_order"] }
but-testsupport = { workspace = true, features = ["snapbox"] }
snapbox = { workspace = true, features = ["term-svg", "regex"] }
shell-words = "1.1.0"
insta.workspace = true
