[package]
name = "gitbutler-tauri"
version = "0.0.0"
edition = "2021"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false

[lib]
doctest = false

[[bin]]
name = "gitbutler-tauri"
path = "src/main.rs"
test = false

[build-dependencies]
tauri-build = { version = "1.5.3", features = [] }

[dev-dependencies]
pretty_assertions = "1.4"
tempfile = "3.10"
gitbutler-testsupport.workspace = true

[dependencies]
anyhow = "1.0.86"
backtrace = { version = "0.3.72", optional = true }
console-subscriber = "0.4.0"
dirs = "5.0.1"
futures.workspace = true
git2.workspace = true
gix = { workspace = true, features = ["max-performance", "blocking-http-transport-curl", "worktree-mutation"] }
once_cell = "1.19"
reqwest = { version = "0.12.4", features = ["json"] }
serde.workspace = true
serde_json = { version = "1.0", features = ["std", "arbitrary_precision"] }
tauri-plugin-context-menu = { git = "https://github.com/c2r0b/tauri-plugin-context-menu", branch = "main" }
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-window-state = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-store = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
parking_lot.workspace = true
log = "^0.4"
thiserror.workspace = true
# The features here optimize for performance.
tokio = { workspace = true, features = ["rt-multi-thread", "parking_lot"] }
tracing.workspace = true
tracing-appender = "0.2.3"
tracing-subscriber.workspace = true
tracing-forest = { version = "0.1.6" }
gitbutler-watcher.workspace = true
gitbutler-branch-actions.workspace = true
gitbutler-oplog.workspace = true
gitbutler-repo.workspace = true
gitbutler-command-context.workspace = true
gitbutler-feedback.workspace = true
gitbutler-fs.workspace = true
gitbutler-config.workspace = true
gitbutler-project.workspace = true
gitbutler-user.workspace = true
gitbutler-branch.workspace = true
gitbutler-reference.workspace = true
gitbutler-error.workspace = true
gitbutler-secret.workspace = true
gitbutler-id.workspace = true
gitbutler-storage.workspace = true
gitbutler-diff.workspace = true
gitbutler-operating-modes.workspace = true
gitbutler-edit-mode.workspace = true
open = "5"
url = "2.5.2"


[dependencies.tauri]
version = "1.8.0"
features = [
    "http-all",
    "os-all",
    "dialog-open",
    "fs-read-file",
    "path-all",
    "process-relaunch",
    "protocol-asset",
    "window-maximize",
    "window-start-dragging",
    "window-unmaximize",
]

[lints.clippy]
all = "deny"
perf = "deny"
correctness = "deny"

[features]
default = ["custom-protocol", "devtools"]
## A forwarding to all crates that have windows-specific adjustments for testing on non-Windows.
windows = []
devtools = ["tauri/devtools"]

# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

error-context = ["dep:backtrace"]
