[package]
name = "gitbutler-tauri"
version = "0.0.0"
edition = "2021"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false

[lib]
doctest = false
crate-type = ["lib", "staticlib", "cdylib"]

[[bin]]
name = "gitbutler-tauri"
path = "src/main.rs"
test = false

[build-dependencies]
tauri-build = { version = "2.0.3", features = [] }

[dependencies]
anyhow = "1.0.95"
backtrace = { version = "0.3.74", optional = true }
console-subscriber = "0.4.1"
git2.workspace = true
gix = { workspace = true, features = [
    "max-performance",
    "blocking-http-transport-curl",
    "worktree-mutation",
] }
reqwest = { version = "0.12.9", features = ["json"] }
serde.workspace = true
serde_json = { version = "1.0", features = ["std", "arbitrary_precision"] }
tauri = { version = "^2.1.1", features = ["unstable"] }
tauri-plugin-dialog = "2.2.0"
tauri-plugin-fs = "2.0.3"
tauri-plugin-http = "2.2.0"
tauri-plugin-log = "2.2.0"
tauri-plugin-os = "2.2.0"
tauri-plugin-process = "2.2.0"
tauri-plugin-shell = "2.2.0"
tauri-plugin-single-instance = "2.2.0"
tauri-plugin-store = "2.2.0"
tauri-plugin-updater = "2.3.0"
tauri-plugin-window-state = "2.2.0"
parking_lot.workspace = true
log = "^0.4"
# The features here optimize for performance.
tokio = { workspace = true, features = ["rt-multi-thread", "parking_lot"] }
tracing.workspace = true
tracing-appender = "0.2.3"
tracing-subscriber.workspace = true
tracing-forest = { version = "0.1.6" }
gitbutler-watcher.workspace = true
gitbutler-branch-actions.workspace = true
gitbutler-oplog.workspace = true
gitbutler-repo.workspace = true
gitbutler-repo-actions.workspace = true
gitbutler-command-context.workspace = true
gitbutler-feedback.workspace = true
gitbutler-config.workspace = true
gitbutler-project.workspace = true
gitbutler-user.workspace = true
gitbutler-branch.workspace = true
gitbutler-reference.workspace = true
gitbutler-error.workspace = true
gitbutler-secret.workspace = true
gitbutler-id.workspace = true
gitbutler-stack.workspace = true
gitbutler-diff.workspace = true
gitbutler-operating-modes.workspace = true
gitbutler-edit-mode.workspace = true
gitbutler-sync.workspace = true
gitbutler-forge.workspace = true
gitbutler-settings.workspace = true
gitbutler-serde.workspace = true
but-workspace.workspace = true
but-core.workspace = true
open = "5"
url = "2.5.4"

[dev-dependencies]
gix-testtools.workspace = true
insta.workspace = true

[lints.clippy]
all = "deny"
perf = "deny"
correctness = "deny"

[features]
default = ["custom-protocol", "devtools"]
## A forwarding to all crates that have windows-specific adjustments for testing on non-Windows.
windows = []
devtools = ["tauri/devtools"]

# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

error-context = ["dep:backtrace"]
