[package]
name = "gitbutler-tauri"
version = "0.0.0"
edition = "2021"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false

[lib]
doctest = false

[[bin]]
name = "gitbutler-tauri"
path = "src/main.rs"
test = false

[build-dependencies]
tauri-build = { version = "1.5", features = [] }

[dev-dependencies]
#once_cell = "1.19"
pretty_assertions = "1.4"
tempfile = "3.10"
gitbutler-testsupport.workspace = true

[dependencies]
anyhow = "1.0.81"
async-trait = "0.1.79"
backtrace = { version = "0.3.71", optional = true }
console-subscriber = "0.2.0"
futures = "0.3"
git2.workspace = true
governor = "0.6.3"
nonzero_ext = "0.3.0"
once_cell = "1.19"
reqwest = { version = "0.12.2", features = ["json"] }
sentry = { version = "0.32", optional = true, features = ["backtrace", "contexts", "panic", "transport", "anyhow", "debug-images", "reqwest", "native-tls" ] }
sentry-tracing = "0.32.0"
serde.workspace = true
serde_json = { version = "1.0", features = [ "std", "arbitrary_precision" ] }
slug = "0.1.5"
tauri-plugin-context-menu = { git = "https://github.com/c2r0b/tauri-plugin-context-menu", branch = "main" }
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-window-state = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-store = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }
log = "^0.4"
thiserror.workspace = true
# The features here optimize for performance.
tokio = { workspace = true, features = [ "rt-multi-thread", "parking_lot" ] }
tracing = "0.1.40"
tracing-appender = "0.2.3"
tracing-subscriber = "0.3.17"
gitbutler-core.workspace = true
gitbutler-watcher.workspace = true
gitbutler-analytics.workspace = true

[dependencies.tauri]
version = "1.6.1"
features = [
    "http-all", "os-all", "dialog-open", "fs-read-file",
    "path-all", "process-relaunch", "protocol-asset",
    "shell-open", "window-maximize", "window-start-dragging",
    "window-unmaximize"
]

[lints.clippy]
all = "deny"
perf = "deny"
correctness = "deny"

[features]
default = ["custom-protocol", "sentry", "devtools"]
devtools = ["tauri/devtools"]

# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

sentry = ["dep:sentry"]
error-context = ["dep:backtrace", "sentry/backtrace"]
