.text-input {
	padding: var(--size-4) var(--size-10);
	color: var(--clr-scale-ntrl-0);
	background-color: var(--clr-bg-1);
	border: 1px solid var(--clr-border-2);
	border-radius: var(--radius-s);
	transition: border-color var(--transition-fast);

	&::placeholder {
		color: oklch(from var(--clr-scale-ntrl-30) l c h / 0.5);
	}

	&:hover {
		border-color: oklch(from var(--clr-border-2) var(--hover-state-ratio) c h);
	}

	&:focus,
	&:focus-within {
		border-color: oklch(from var(--clr-border-2) var(--active-state-ratio) c h);
		outline: none;
	}

	&:invalid {
		border-color: var(--clr-theme-err-element);
	}

	&:disabled {
		color: var(--clr-scale-ntrl-60);
		border-color: var(--clr-scale-ntrl-70);
		background-color: var(--clr-bg-2);
	}
}
