@import 'inter-ui/inter.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is trick to make webkit use hardware acceleration */
*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
}
