[package]
name = "but-error"
version = "0.0.0"
edition = "2024"
authors = ["GitButler <gitbutler@gitbutler.com>"]
publish = false
rust-version = "1.89"

[lib]
doctest = true

[dependencies]
anyhow.workspace = true
