/* scrollbar helpers */
.hide-native-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

/* custom scrollbar */
.scrollbar,
pre {
	&::-webkit-scrollbar {
		background-color: transaparent;
		width: 14px;
	}

	&::-webkit-scrollbar-track {
		background-color: transaparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--clr-border-1);
		background-clip: padding-box;
		border-radius: 12px;
		border: 4px solid rgba(0, 0, 0, 0);
		opacity: 0.3;
	}

	&::-webkit-scrollbar-thumb:hover {
		opacity: 0.8;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}
}

.stack-v {
	display: flex;
	flex-direction: column;
}

.stack-h {
	display: flex;
	flex-direction: row;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.no-select {
	user-select: none;
	cursor: default;
}

/* ANIMATION */

.wiggle-animation {
	animation: wiggle-animation 0.35s forwards;
}

@keyframes wiggle-animation {
	0% {
		transform: translateX(-3px);
	}
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}
