name: OSV-Scanner

on:
  pull_request:
    branches: ['master']
  merge_group:
    branches: ['master']
  schedule:
    - cron: '40 4 * * 5'
  push:
    branches: ['master']

jobs:
  scan-default-branch:
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
    permissions:
      actions: read
      contents: read
      security-events: write
    uses: 'google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@8018483926dd235b3013d8c88023e644b9f8e09e'
    with:
      scan-args: |-
        -r
        --skip-git
        ./
  scan-pr:
    if: ${{ github.event_name == 'merge_group' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) }}
    permissions:
      actions: read
      contents: read
      security-events: write
    uses: 'google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@8018483926dd235b3013d8c88023e644b9f8e09e'
    with:
      scan-args: |-
        -r
        --skip-git
        ./
