name: E2E Blackbox Tests
env:
  RUSTUP_TOOLCHAIN: stable
on:
  push:
    branches:
      - master
  pull_request:
    branches: [master]
    paths-ignore:
      - 'apps/web/**'
  workflow_dispatch:
    inputs:
      sha:
        type: string
        required: false
        description: Target SHA

jobs:
  test:
    name: e2e-blackbox
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gitbutlerapp/ci-base-image:latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
        if: ${{ github.event_name != 'workflow_dispatch' }}
        name: Checkout
      - uses: actions/checkout@v5
        name: Checkout (specific commit from manual dispatch)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        with:
          persist-credentials: false
          ref: ${{ github.event.inputs.sha }}
      # TODO: put these into the docker image
      - name: Install Webdriver dependencies
        run: apt update && apt install -y webkit2gtk-driver ffmpeg xvfb
        if: ${{ github.ref != 'refs/heads/master' }}
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.8.1
        with:
          shared-key: e2e-blackbox-rust-binaries
          save-if: ${{ github.ref == 'refs/heads/master' }}
      - name: Setup node environment
        uses: ./.github/actions/init-env-node
      - name: Build CLI
        run: cargo build -p gitbutler-cli
      - name: Build SvelteKit
        run: pnpm build:desktop -- --mode development
      - name: Build Tauri
        run: pnpm build:test
      - name: Install tauri-driver
        if: ${{ github.ref != 'refs/heads/master' }}
        run: |
          if [ ! -e "$HOME/.cargo/bin/tauri-driver" ]; then
            cargo install tauri-driver
          fi

      # Run it through `xvfb-run` to have a fake display server which allows our
      # application to run headless without any changes to the code
      - name: WebdriverIO
        if: ${{ github.ref != 'refs/heads/master' }}
        run: xvfb-run pnpm test:e2e:blackbox

      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: WebdriverIO Artifacts
          overwrite: true
          path: |
            ./e2e/blackbox/videos
            ~/.config/com.gitbutler.app*/logs
